[2022-05-27 14:09] juliushaertl commented on #3984
FYI we have addressed this in https://github.com/nextcloud/text/pull/2448 to only use the text app if Collabora is not available.

[2022-05-27 21:52] Igortorrente opened #4828 "Failed to load Nextcloud Office"
**Describe the bug**
Cannot open a document in nextcloud using Collabora office online docker container.

**To Reproduce**
Steps to reproduce the behavior:
1. `podman pull docker.io/collabora/code:21.11.5.0.1`
2. `podman run --rm -it --cap-add SYS_CHROOT --cap-add MKNOD --cap-add FOWNER --cap-add CHOWN --cap-add SYS_ADMIN -e username=collabora-admin -e password=collabora-password -e "aliasgroup1=h

[2022-05-27 23:35] thebearon commented on #4808
Seems reasonable, thanks for pointing out!

[2022-05-29 01:04] dinosmm commented on #3928
I am having the same issue (I think).

I cannot paste text or images copied from another tab or program.
However, I *can* paste screenshots taken with the Windows snipping tool - this is the only thing that seems to be pastable.

This is the case both on Chrome and Firefox for me.

[2022-05-30 07:59] thebearon commented on #4758
Sure, I've opened the following bug report:
https://bugs.documentfoundation.org/show_bug.cgi?id=149370

[2022-05-30 08:51] pedropintosilva commented on #4821
Thanks @DekotaNelson ! BTW it will be cool if you could attend our weekly dev meeting :) It's every Thursday at 12:00 Central Europe : https://collaboraonline.github.io/post/communicate/

[2022-05-30 10:03] pedropintosilva commented on #3984
^ already backported to stable23 and stable24 :rocket:

[2022-05-30 10:06] avatar1024 commented on #3745
Is there any plans regarding addressing this? This is such a basic behaviour of spreadsheet software it feels really odd when using collabora.

[2022-05-30 10:32] pedropintosilva commented on #3984
re-opening (kinda miss another status for each issue...) adding testing tag

[2022-05-30 10:46] #4716 closed

[2022-05-31 03:11] gogle7 opened #4834 "Dialog box / Popup type window fails to open on Mac"
**Describe the bug**
Dialog box (canvas) doesn't display on Mac (on any browser). Whereas it works fine on Linux and Windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Open docx document
2. Go to Layout
3. Select watermark
4. So watermark window doesn't display.
5. After that it just hangs, cannot edit document.

Similarly for excel document as well:
1. Open excel document
2. Select on

[2022-05-31 07:21] timparker14 commented on #4828
I have the same issue with a dockerless (standalone) CODE server. Nextcloud integration fails after the latest CODE server update. I still get the green tick in the nextcloud settings but documents fail to load.

[2022-05-31 18:05] mmeeks opened #4837 "Speed-up callbacks ...."
**This is an [Easy Hack](https://collaboraonline.github.io/post/easyhacks/).**
Potential mentors: @Ashod

### Detailed description and rationale
When we send messages across threads (one thread per SocketPoll) we have to use 'addCallback' or 'insertSocket' these queue up the work to be done in the main thread and they also send a 'wakeup'.

Since we take a lock anyway here, we should check whether

[2022-06-01 01:04] thebearon commented on #4633
There's a significant difference between LO desktop and online: online has toggles for the different available sidebar views in the Notebookbar.
Ie. by moving the three buttons to `View`, and keeping the existing button as `Sidebar`, the naming for `Sidebar` would be ambiguous, as it only refers to the `Properties` view of the sidebar.

At first I thought it could be named `Slide Layout`, as the b

[2022-06-01 13:22] Ezinnem commented on #4757
The fix has been made.

This issue is very similar to #4716

[2022-06-01 13:22] #4757 closed

[2022-06-01 17:41] gogle7 commented on #4834
fetched the latest changes, still reproducible with latest commit a17894dbd7c6513d5a26a8f3ad5716b988a1f44a

[2022-06-01 21:29] Igortorrente commented on #4828
@timparker14 For curiosity, which Nextcloud/Nextcloud Office versions are you using?

[2022-06-02 09:20] timparker14 commented on #4828
Nextcloud 23.0.5
Nextcloud Office 5.0.5

Sent from my iPhone

[2022-06-02 09:41] pedropintosilva commented on #4834
@thebearon could you test this out please?

[2022-06-02 09:57] pedropintosilva commented on #4828
ping @Ezinnem or @thebearon

[2022-06-02 10:55] pedropintosilva opened #4845 "Content control icons missing"
**This is an [Easy Hack](https://collaboraonline.github.io/post/easyhacks/).**
Potential mentors: @Rash419

### Detailed description and rationale
Following https://github.com/CollaboraOnline/online/pull/4844 we need two more icons that are missing form within COOL but exist within core side, Colibre theme:
* Picture control
* Date control

How to test it:
1. Open any text document
2. Navigate to

[2022-06-02 12:44] fxandrei commented on #3369
This problem still exists it seems.
Ive been trying for 2 weeks to find a solution, and nothing.
Reinstalled multiple version in multiple configs (full vm, container, etc), still no luck.
The bundle.js file is incomplete.

Is there any way to force this file to be sent to the client (browser), or maybe host it somewhere else ?

[2022-06-02 12:53] thebearon commented on #4834
Indeed, this is reproducible, but not specific to Mac, but to HiDPI screens instead.
Thanks for reporting!

[2022-06-02 14:13] livier commented on #4540
Outch, I thaugt that I had answer this a few weeks ago. My message is now flying under old clouds :-o

Yes I think it can be named "user avatars"

Updates have been dones now, I will come back if difficuties come back. Not soon I hope ;-)

[2022-06-02 14:13] #4540 closed

[2022-06-02 14:30] steffen-moser commented on #3369
Which version of loolwsd/coolwsd do you want to use?

[2022-06-03 05:35] fxandrei commented on #3369
Well i dont want to use any particular version.
I just updated to the last version.
Ive been having this issue for 2-3 weeks.

The strange thing is that it worked in the beginning, and im not sure why.

I have also made a forum post here:
https://forum.collaboraonline.com/t/i-have-no-idea-why-this-is-happening-and-what-to-check-not-loading-on-some-clients/1115/6

Anyway, the version im using now (

[2022-06-03 10:30] gogle7 opened #4855 "Cannot type in formula bar (excel)"
**Describe the bug**
Cannot type on the formula bar on the latest master branch.

**To Reproduce**
Steps to reproduce the behavior:
1. Open xlsx document
2. Select cell and type something
3. It doesn't synchronize with formula bar
4. Also cannot type on formula bar.

**Actual behavior**
Cannot type anything on formula bar.
![image](https://user-images.githubusercontent.com/40571061/171837082-4cdf1

[2022-06-03 12:06] gogle7 commented on #4855
Used the latest core
`wget https://github.com/CollaboraOnline/online/releases/download/for-code-assets/core-co-22.05-assets.tar.gz`
as mentioned in https://collaboraonline.github.io/post/build-code/#build-code-on-ubuntu

[2022-06-03 12:06] #4855 closed

[2022-06-03 19:30] Andreas-Kainz commented on #4535
Hi,

The main issue is, that's it is very difficult to bring the compare feature 100% to cool. Cause cool show in general only one content stream and the compare feature show more views.

I can't help with any dev stuff. From my point of view the best would be:
- show the compared final view so you have to run only the compare command in libo and than have the differences as changes.
- for the cha

[2022-06-04 19:47] #4401 closed

[2022-06-05 01:40] elhananjair commented on #4828
hello, @timparker14 have you tried to update Nextcloud Office to 6.1.0? I just finished setting up Collabora now and it worked fine.

![image](https://user-images.githubusercontent.com/69236638/172031268-8da97a98-e1d4-42f5-9009-79c50430ff8b.png)

[2022-06-05 09:09] shoelzle commented on #4828
Hi,

Same problem here:
Nextcloud Office 5.0.5
Nextcloud 23.0.5

Documents are not opened since [`collabora/code:21.11.5.0.1`](https://hub.docker.com/r/collabora/code/tags).
The previous version `docker pull collabora/code:21.11.4.2.1` works just fine.
Same configuration (container environment variables taken from the output of `docker inspect`):
[code]

With Collabora CODE version 21.11.5.0.1, I

[2022-06-06 09:51] elmakias5 commented on #4828
שיש לי הרגשה על מישהו/ או משהו זה כמו בסרטים הרוצח זה הדמות שאתה לא מצפה לה
.

אלמקייס חיים

בתאריך יום ב׳, 6 ביוני 2022, 12:48, מאת timparker14 ‏<
***@***.***>:

[2022-06-06 11:08] Rash419 commented on #4828
@shoelzle  can you try removing this parameter ?

[2022-06-06 11:53] timparker14 commented on #4828
@Rash419 That worked for me. I'm not using docker but edited the XML file and all is good. Thank you

[2022-06-06 12:04] shoelzle commented on #4828
Removing the parameter `--o:storage.wopi.host[0]=nextcloud.mydomain.de` works for me.
I guess I picked up this configuration parameter somewhere without really needing it. Btw, for anyone curious, the parameter is kind of mentioned in the [Backend storage configurations](https://sdk.collaboraonline.com/docs/installation/Configuration.html#backend-storage-configurations): _".. The administrator has

[2022-06-06 12:06] Rash419 commented on #4828
@shoelzle thanks I will update the documentation , thanks for reporting

[2022-06-06 12:07] Rash419 commented on #4828
@Igortorrente can you share logs please ?

[2022-06-06 12:13] shoelzle commented on #4828
@Rash419 ,
@Igortorrente  already shared logs:
![image](https://user-images.githubusercontent.com/4390702/172158149-9d5ff8bb-4676-46d3-94a8-05392962349a.png)

As I first read this issue I overlooked that collapsed looks, maybe you too?

[2022-06-06 12:17] Rash419 commented on #4828
yup thanks : )

[2022-06-06 14:36] kinslayer1982 commented on #4828
Hey,

same problem her.
This was my first try to integrate an office into Nextcloud.

Setup:

- Nextcloud 24.0.1 in Docker on Synology Diskstation with DSM 7
- Nginx 1.21.3 reverse proxy in Docker on RPi4 with Debian 10
- Nextcloud Office 6.1.0
- second RPi4 running collabora/code 21.11.5.0.1 (and 21.11.4.2.1 like mentioned here) in Docker with Debian 11

Nextcloud reachable via https://nc.mydomai

[2022-06-06 15:11] x4IPx opened #4862 "Does not copy cells when filtering."
**Describe the bug**
Doesn't copy cells while filtering a column. If all filters are disabled, the data is copied without problems.

**To Reproduce**
Steps to reproduce the behavior:
1. Create excel file
2. Create a simple table like :

Name | Price
-- | --
one | 300
two | 2000
three | 39999
four | 2000
five | 300
six | 300
seven | 200

3. Filter Price by 300 (Data -> Autofilter.)

4. Try to copy

[2022-06-06 16:01] goncalo-synergy opened #4863 "Convert specific pages"
Hi!

Using the convert-to feature (word to pdf for example) it would be nice to select only a certain number of pages to be converted. As present in your documentation, you use JODConverter, which has the PageSelectorFilter option available.

In my case, I would be converting only the first page of office documents to pdf, so I wouldn't want to have to convert the whole document every time.

[2022-06-07 05:19] Rash419 commented on #4828
@kinslayer1982  can you check for error like `ERR  No acceptable WOPI hosts found matching the target host  in config.` ? If there is mentioned error then can you paste wopi settings in cooolwsd.xml

[2022-06-07 07:02] vmiklos commented on #4863
See https://vmiklos.hu/blog/pdf-convert-to.html, does that PageRange trick work for you?

[2022-06-07 13:57] andrsharov commented on #3744
Hi, everybody.

I also have this problem.
[code]
[code]
![image](https://user-images.githubusercontent.com/44819772/172397126-bed43edd-40ff-4fd9-b179-edaabcc4e377.png)
![image](https://user-images.githubusercontent.com/44819772/172397430-2b6b8b5d-ead8-4dee-a0e9-053f17cff958.png)
![image](https://user-images.githubusercontent.com/44819772/172397947-494e0b04-42bc-40c7-aaa1-95718a309c0a.png)

[2022-06-07 14:59] jaime-rivas commented on #4535
I think that just having the final view of the compared document would be a fantastic first step, without showing the changes panel or anything else in the UI. Once the uno:CompareDocuments API is added to Collabora Online, we can contribute directly to the web viewer to help with the views.

Does it sound good to first add the API to send two documents to compare and get the final compared file,

[2022-06-07 15:13] timparker14 commented on #4828
This also works on my old Nextcloud Server after restarting the codeserver

[2022-06-07 15:47] kinslayer1982 commented on #4828
@Rash419 There's no such error. After trying to open different documents multiple time I see
[code]

Aside from that only the errors from my previous post, nothing more.

[2022-06-07 19:01] shoelzle commented on #4828
@kinslayer1982, I guess the culprit lies within the nginx configuration, because the incoming request to the Collabora container doesn't look healthy to me:
[code]

So I compared your nginx configuration with the configuration from the [Collabora docs](https://sdk.collaboraonline.com/docs/installation/Proxy_settings.html#reverse-proxy-with-nginx-webserver).

There is one difference: Could you try

[2022-06-07 20:14] kinslayer1982 commented on #4828
This part wan't there in the beginning, I added it at some point because trying to open https://office.mydomain.de resulted in "404" instead of the "200 ok" message when testing if the code server is reachable. (My Nginx is configured to block access to unconfigured URLs)

But I'll try again without and report back as soon as I can.

[2022-06-07 21:36] Igortorrente commented on #4828
Unfortunately no luck so far

`podman run --rm -it --cap-add SYS_CHROOT --cap-add MKNOD --cap-add FOWNER --cap-add CHOWN --cap-add SYS_ADMIN -e username=collabora-admin -e password=collabora-password -e "aliasgroup1=https://example.com:443" -e server_name=collaboraonline.example.com -p 10.0.0.1:9980:9980 --name collabora-online collabora/code:21.11.5.0.1`
<details>

[code]

</details>

`podman run

[2022-06-08 11:15] tosigus opened #4870 "Dropdown with conditional formatting freezes CODE in Nextcloud"
**Describe the bug**
Applying conditional formatting, color, with dropdown text options halts CODE. Only reload of the page helps.

**To Reproduce**
Steps to reproduce the behavior:
1. Create dropdown with text options
2. Create conditional with colors for text options ("Homeoffice" = yellow, "Office" = green)
3. Select text option from dropdown
4. Selection is displayed, but the dropdown menu isn

[2022-06-08 13:21] jacotec commented on #4757
@Ezinnem Should this be in version 21.06.30.1? Because after updating to it, I still see this issue ...

[2022-06-08 14:36] mmeeks commented on #4729
This is now implemented and (I think) shipping in 21.11.4.2 it needs the richdocuments side patch:

https://github.com/nextcloud/richdocuments/commit/41a789842301c8cd6278cd502c7553c3e7e141bd

to work nicely.

[2022-06-08 14:44] mmeeks commented on #4489
Another short status update: we continue to work to improve here. In CODE 21.11.4.2 we are using a much easier to dismiss, off-line welcome dialog. We've also moved our admin/update-check to being server-side, and we've disabled welcoming for guests - although this required: https://github.com/nextcloud/richdocuments/commit/41a789842301c8cd6278cd502c7553c3e7e141bd

We got feedback from wee: that a

[2022-06-08 14:50] mmeeks opened #4876 "Add optional, non-welcoming 'home' mode"
**Describe the bug**
In the discussion around #4489 - it was [pointed out](https://help.nextcloud.com/t/office-alternatives-since-collabora-introduced-nagware-with-possibility-to-track-users/138236/58) that perhaps we could have two builds one with a connection limit, and one with a welcome so users could choose.

To avoid needing two builds we could instead just re-add a 'home' configuration mode

[2022-06-08 16:14] kinslayer1982 commented on #4828
@shoelzle That really fixed it!
Strange, it didn't work before I added the location / part, but after removing it, it does...

Only one more thing. Should I worry about any of these:
[code]

[2022-06-08 17:45] dinosmm commented on #4489
Thanks for the update @mmeeks.

I am now on Nextcloud 23, COOLWSD 21.11.4.2 but the welcome dialog still looks the same, and it still appears to non-registered users opening a shared document - is this not supposed to happen any more?

[2022-06-08 19:02] sebastiaanveld commented on #4613
Fixed in Staging.
COOLWSD versie: 22.05.0.1 git hash: [d11a23be]
LOKit versie:
Collabora Office 22.05.2.1 git hash: [8d1627f]

[2022-06-08 19:03] sebastiaanveld commented on #4806
Looks fixed in Staging.
COOLWSD versie: 22.05.0.1 git hash: [d11a23be]
LOKit versie:
Collabora Office 22.05.2.1 git hash: [8d1627f]

[2022-06-08 20:32] Igortorrente commented on #4828
For testing purposes, I installed both. The Collabora and Onlyoffice built-in servers.

The Onlyoffice is working with all documents available. But the Collabora office isn't working at all.

These are the messages in the log:

<details>

[code]
</details>
<details>

[code]
</details>

Now I'm suspect of my nginx config files. Can you spot anything wrong in them?

**nginx_proxy/conf.d/nextcloud.co

[2022-06-08 21:38] flagellatedcucumber commented on #4761
Done!

[2022-06-09 01:39] lucaspcamargo opened #4878 "Letters get scrambled when typing. (nginx reverse HTTPS proxy, nextcloud integration)"
**Describe the bug**
When I type the letters seem to arrive out-of-order in the server. This did not happen when running atop Nginx directly instead of apache2, despite any lag.

**To Reproduce**
Steps to reproduce the behavior:
1. Just type, within a document or a spreadsheet.
2. Letters are getting switched up.

**Expected behavior**
Nomal letter ordering (?).

**Actual behavior**
Letters get sc

[2022-06-09 06:23] #4845 closed

[2022-06-09 09:37] pedropintosilva opened #4880 "Add dark icons for content controls (writer > form)"
**This is an [Easy Hack](https://collaboraonline.github.io/post/easyhacks/).**
Potential mentors: @rizmut

### Detailed description and rationale
Add missing content controls icons for dark mode

### Code pointers
Path `browser/images/dark/`
Before creating new icon from scratch please check if [LO Colibre theme](https://github.com/LibreOffice/core/tree/master/icon-themes/colibre_dark/cmd) has it

[2022-06-09 09:47] pedropintosilva commented on #4633
**update, added to the main description**

excerpt taken from https://github.com/CollaboraOnline/online/pull/4782#pullrequestreview-981566183

I would prefer to have the view button to the the first and the sidebar the last because:
1. Then the Sidebar icon is the rightmost icon which is nice since the sidebar comes from that sode
2. The view button would be in the leftmost side from those icons.

[2022-06-09 09:49] #4672 closed

[2022-06-09 11:08] thebearon commented on #4834
It's also a regression from the following core commit:
https://cgit.freedesktop.org/libreoffice/core/commit/?id=cf9be3417bc2be5f772c03180b7cbd248b82cad5
[code]

[2022-06-09 11:54] vmiklos commented on #4834
CC @llunak

[2022-06-09 17:09] bentuna opened #4883 "Selecting various dispersed cells using CMD not working on macOS/Chrome"
**Describe the bug**
Selecting various dispersed cells is not possible on macOS/Chrome/Nextcloud Office integration

**To Reproduce**
Steps to reproduce the behavior:
1. Mark at least one cell.
2. Then while pressing Command, click each of the additional cells

**Expected behavior**
The second cell should be added to the selection.

**Actual behavior**
First cell gets unselected instead of staying

[2022-06-09 20:39] shoelzle commented on #4828
Great :)

I also have these log messages in my Collabora logs, but I couldn't find any side effects, so I just decided to ignore them.

[2022-06-09 21:18] Igortorrente commented on #4828
I tried all combinations:

- Nextcloud communicating directly to collabora using http
- Nextcloud communicating directly to collabora using https
- Nextcloud communicating through the proxy using http between the proxy and collabora
- Nextcloud communicating through the proxy using https between the proxy and collabora

The first two doesn't work for me at all.<br>
The third connects but I'm recei

[2022-06-10 07:12] WarpinWolf opened #4886 "Data -> Validity -> Allow List - COOL “freezes” upon selecting from list"
Initially posted on Collabora forum - now did notice that it'S probably better here.

Version Information please see below.

I have a spreadsheet. One column has Data → Validity → Allow List
[X] Allow empty cells
[X] Show selection list
[ ] Sort entries ascending

Entries are:
Office - In den Ellern
OCÜ
Home Office
Busines Travel

Tab Input Help is empty

Tab Error Alert:
[X] Show error message wh

[2022-06-10 11:26] llunak commented on #4834
https://gerrit.libreoffice.org/c/core/+/135588 / https://gerrit.libreoffice.org/c/core/+/135546

[2022-06-11 16:54] jejo86 commented on #2411
I would like to extend this idea to all repositories, not only the F-Droid one.

The latest updates in the [CentOS 8 repository](https://www.collaboraoffice.com/repos/CollaboraOnline/CODE-centos8/) broke my installation and the lack of old versions prevents me to revert easily to an earlier build, I knew was working.

[2022-06-12 08:05] nikslor opened #4893 "As a user I need guides (helper lines) in the impress component to efficiently align objects on slides"
**Is your feature request related to a problem? Please describe.**
In a slide deck I often encounter the need to align elements on the same position/alignment sometimes even among multiple slides. Other solutions offer guides (sometimes also called helper lines) which is a feature that is not present in CooL.

**Describe the solution you'd like**
Guides (helper lines) are visible in the edit mode,

[2022-06-12 08:25] nikslor opened #4894 "As a user I 'd like to get visual support in aligning objects on a slide"
**Is your feature request related to a problem? Please describe.**
In a slide deck I often encounter the need to align elements on the same height/width as other objects on the same slide. Other solutions offer visual indicator that helps to recognize when the currently moved object(s) align with an other object on the same slide - this is a feature that is not yet present in CooL and it makes cre

[2022-06-13 08:03] gogle7 commented on #4834
Looks like it's fixed by @llunak commits (as above) , can you please confirm and close this issue and also update the compressed build 22.05
So that it can be downloaded from:
[code]

[2022-06-13 09:20] #4808 closed

[2022-06-15 09:37] rpear commented on #4893
I think a bit like "Draw Grid and Helplines" #4556, also with snap to grid.

[2022-06-15 13:09] x4IPx commented on #3744
<html>
<body>
<p dir="auto" style="box-sizing: border-box; margin-top: 0px !important; margin-bottom: 16px; color: rgb(201, 209, 217); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weigh

[2022-06-15 14:06] Artim96 opened #4910 "CSV import edit column import type"
**Describe the bug**
When I open a csv file, I'd like to be able to edit how columns should be imported/if they should be imported at all. Sadly it doesn't seem to allow scrolling in the preview (not horizontally or vertically) so I can only select that for the first two columns on my phone (or three if set to landscape). That's not really helpful and at least I think it's not related to the usage

[2022-06-15 14:32] Fjorda94 opened #4911 "Trackchanges request"
**Is your feature request related to a problem? Please describe.**
We would like to be able to track exactly who has made changes in the documents and what. The exact time when changes were made is also important. You can select Record when uploading the document so that all changes can be viewed, but when you click "Accept" or "Reject" the history is gone. This is problematic for us, since who ch

[2022-06-15 15:07] Fjorda94 commented on #4911
This could also be beneficial for many other companies and teams.

[2022-06-15 16:32] Lumrenion commented on #4555
I am using the collabora docker image. I have a folder `fonts`, inside a folder for each font containing the `ttf`-files. I created a volume : `./fonts:/usr/share/fonts/truetype`. All seven fonts show up in the dropdown list but are not rendered, just like described above. Then I changed the volume to point to `/opt/cool/systemplate/usr/share/fonts/truetype` and restarted the container. Now two of

[2022-06-15 17:22] danir-de commented on #4870
Have you tried updating? Seems to be similar to #4757.

[2022-06-15 21:27] thebearon commented on #4757
@jacotec It should be part of 21.11.5.3.

[2022-06-15 21:27] thebearon commented on #4870
Yes, good point, this is #4757.

[2022-06-15 21:27] #4870 closed

[2022-06-15 21:28] thebearon commented on #4886
This is the same bug as #4757.

[2022-06-15 21:30] thebearon commented on #4806
Yes, let's close as duplicate of #4613. Thanks!

[2022-06-15 21:30] #4806 closed

[2022-06-16 03:59] wyd621 opened #4914 "In read-only mode, select and copy text"
Now, can't copy text in read-only mode.
I want to select and copy text in read-only mode.
Can you do it.

[2022-06-16 09:15] zzkt commented on #4489
a quick and dirty workaround when self hosting could be deleting the 'welcome' folder after an upgrade

e.g. `sudo rm -rf /usr/share/coolwsd/browser/dist/welcome`

[2022-06-16 09:59] mmeeks commented on #4489
@dinosmm good question - it is possible you need the latest richdocuments that has a patch that annotates external users as guests so we can behave differently there. Can you report your richdocuments version, and @juliushaertl - is that released ?

[2022-06-16 10:12] andsofine opened #4918 "status bar/nav bar colors (Android)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I see a black line at the bottom. and also when I see that the status bar is not the same color as the top bar

**Describe the solution you'd like**
color nav bar to background color for light/dark theme
make the status bar the same color a

[2022-06-16 11:09] gokaysatir opened #4920 "Improvements for following another person's cursor."
**This is an [Easy Hack](https://collaboraonline.github.io/post/easyhacks/).**
Potential mentors: @pedropintosilva @eszkadev

### Detailed description and rationale
- [ ] The "follow cursor" feature should stop following other user's cursor when the current user types something.
- [x] There should be an indicator to show which user's cursor is being followed.

### Code pointers
Here is the functio

[2022-06-16 12:41] monochromec opened #4921 "Calc shows wrong zoom factor after editing with CO"
**Describe the bug**
After editing an ODS with CO, the zoom factor is at 180% when opening the offline copy on the local NC mirror with LO (where it was 100% prior).

**To Reproduce**
Steps to reproduce the behavior:
1. Open an ODS with CO
2. Change something and save the modified version
3. Open the local copy with LO after NextCloud synchronisation with online copy
4. Observe 180% zoom factor

*

[2022-06-17 20:23] thebearon commented on #4633
@pedropintosilva I'm a bit confused between this line from the initial description:

...and this comment here:
https://github.com/CollaboraOnline/online/pull/4782#discussion_r882558328

[2022-06-19 02:20] moshpirit commented on #2290
@thebearon hi, I got no response 😅 is there any way I can help so this can be implemented sooner?

[2022-06-20 05:57] thebearon commented on #4081
Let's close this in favor or #3552.

[2022-06-20 05:57] #4081 closed

[2022-06-20 15:57] Lumrenion commented on #4555
I managed to get six of my seven custom fonts to render correctly. Don't know why the seventh font won't render correctly (it simply shows as a generic non-serif font), might be an issue with the font itself. I had to mount my folder with all my fonts to BOTH directories:
[code]
Afterwards, I stopped, removed and restarted the container, just to be sure.

[2022-06-20 17:09] eszkadev opened #4929 "Replace magic numbers with keycode constants"
**This is an [Easy Hack](https://collaboraonline.github.io/post/easyhacks/).**
Potential mentors: @eszkadev

### Detailed description and rationale
There are directly provided numbers for key codes in some places. We can use already defined constant variables. This makes code more readable and obvious. We don't have to comment every place with human readable label.

### Code pointers
Example: inst

[2022-06-21 13:04] natrius opened #4937 "Notes for presentations"
**Is your feature request related to a problem? Please describe.**
When creating a presentation i am usally able to have notes for presentations. So, when i present with my laptop and a beamer, the beamer will get the presentation and on my laptop i will get shown the next slide and the comments on the current slide.
I'm completely missing the ability to add the notes in collabora presentation.

*

[2022-06-22 15:27] pedropintosilva commented on #4914
Hi @wyd621 and thanks for reporting this!
I'm removing the unconfirmed tag. Unfortunately at current time there is no way to achieve that. There is development needed around that.

[2022-06-22 21:58] flagellatedcucumber commented on #4761
Good news!

A periodic re-test on the same Chromebook result returned a successful test result.

The Chromebook updated itself from 101.0.4951.59 to 102.0.5005.75.  Collabora updated itself from 21.06.25.1 to 21.11.3.6.

Test results of both initial bug and successful test (screenshots and videos) are at https://drive.google.com/drive/folders/1H_48E_ycItI0dw1nY05wM7ramAJTMI_J?usp=sharing for the n

[2022-06-22 22:47] claytonclent opened #4941 "cannot retrieve spreadsheet. no gridlines. single cell contents displayed in formula field"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Spreadsheet document in ChromeBook
2. no gridlines. single cell contents displayed in formula field

**Expected behavior**
spreadsheet opens

**Actual behavior**
blank page with no gridlines opens with the contents of a single cell displayed in the formula field

**Sc

[2022-06-22 22:52] claytonclent commented on #4941
expected behaviour: spreadsheet opens
actual behaviour: blank page with no gridlines opens with the contents of a single cell displayed in the formula field
![Screenshot 2022-06-23 08 29 40](https://user-images.githubusercontent.com/108033871/175167349-13785df5-2c64-4828-86ce-3179ffd057dc.png)
device:chromebook
OS: android
Browser: chrome
Collabora 21.11.3.6

[2022-06-23 05:58] Rash419 commented on #4862
@x4IPx thanks for the report

[2022-06-23 08:17] rpear commented on #4941
Hi, this broke for me with Chrome OS update 100 (then got better), then 101 (then got better), now 102. I believe this broke when Google intruduced the new [ArcVM](https://chromeos.dev/en/posts/making-android-more-secure-with-arcvm) way of hosting Android on Chromebooks. I think it would be a good idea to report this as an issue to Google as well. via Chrome > Help

[2022-06-23 08:18] rpear commented on #4761
I think you'll find it works some days and not others.

[2022-06-23 09:24] pedropintosilva opened #4942 "Can’t change table border in tablet fullscreen layout from sidebar"
**Describe the bug**
Initially reported https://forum.collaboraonline.com/t/cant-change-table-border-in-tablet-fullscreen-layout/1174/3 by `guylife`

**To Reproduce**
Steps to reproduce the behavior:
1. Open any spreadsheet file
2. Search for `Miscellaneous` group in the sidebar where you would expect to see the options to switch border color etc via sidebar
3. `Miscellaneous` group does not exist

[2022-06-23 09:50] pedropintosilva commented on #4862
Thanks @Rash419 for testing it out and confirmed it

[2022-06-23 09:53] pedropintosilva commented on #4878
I couldn't test this, could you @thebearon or perhaps @Ezinnem ?

[2022-06-23 10:57] Ezinnem commented on #4921
This issue does not seem to occur on my end.

@monochromec, Please can you share a screen recording showing the issue?

[2022-06-23 11:21] Ezinnem commented on #4910
This issue does not seem reproducible on my end.

@Artim96, please can you share a screen recording showing the issue?

[2022-06-23 21:04] Ezinnem commented on #4910
To get access to scroll through the full view of the CSV file, you need to click the OK button at the bottom of the screen.

[2022-06-23 21:15] jacotec commented on #4876
@mmeeks Good approach, I like it! Especially for people like me who hosts one dedicated CODE VM for two different private/non-profit Nextcloud instances. The nag distracts nearly every user and without the richdocuments/NC version you won't detect external shares.

May I suggest, for a limit, to count only sessions which are in **editing** mode, so that external persons who just can view a documen

[2022-06-23 21:20] Ezinnem commented on #4819
@frdidonato, Please can you test again using the latest docker image?

[2022-06-24 05:28] Artim96 commented on #4910
But that's not the point since clicking OK will import the data as is. That's not how things are supposed to work, especially coming from the desktop version of LibreOffice (and products based on it). That settings screen needs to give you the option to at least scroll through columns in order to set the way they should be imported. When they are imported it's already too late for that.

[2022-06-24 11:45] claytonclent commented on #4941
Thanks. Will do.

[2022-06-24 12:56] pedropintosilva commented on #3184
https://github.com/CollaboraOnline/online/pull/4438

[2022-06-24 12:56] #3184 closed

[2022-06-25 07:33] monochromec commented on #4921
Here you go. This time it's even 200%.
![Screenshot 2022-06-25 at 09 27 42](https://user-images.githubusercontent.com/606567/175763578-bf28e2d8-e97b-4998-95a9-f51c1382ab30.png)

[2022-06-26 00:09] shuvashish76 opened #4951 "Android : "LO Activity" shortcut crash"
**Describe the bug**
App crashed when clicked on LO Activity shortcut.
Shortcut created using [AppManager](https://github.com/MuntashirAkon/AppManager).
![Screenshot_2022-06-26-05-33-57](https://user-images.githubusercontent.com/48226312/175794149-16475822-e98d-4bbc-9c05-081a68f9fc4d.jpeg)
I was trying create a shortcut to launcher homescreen using AM. Though it is not caused by Collabora directly

[2022-06-26 19:07] Igortorrente commented on #4828
After spend some time reading all the comments and documentation I discovered that I forgot one backslash at some point. It's working with this cmd:

[code]

Thank you all!!

[2022-06-26 19:07] #4828 closed

[2022-06-27 00:49] claytonclent commented on #4941
Issue now resolved. Many thanks.

[2022-06-27 07:48] pedropintosilva commented on #4951
Hi @shuvashish76 and thanks for taking the time to report this. Wouldn't be better to report this to the `AppManager` repository? Or do you get this crash also in other situations?

[2022-06-27 07:51] pedropintosilva commented on #4941
Thanks for reporting this @claytonclent, and as always thanks @rpear  for your valuable hep :)

Let me edit the issue description to include the missing bits and then close this.

[2022-06-27 07:53] #4941 closed

[2022-06-27 11:13] maximelehericy opened #4952 "CollaboraOnline locale follow Nextcloud language instead of Nextcloud locale"
**Describe the bug**
I use Collabora within a Nextcloud environment.
In Nextcloud, language is set to English (US), and locale to France (I am french :).
![image](https://user-images.githubusercontent.com/87175513/175926731-17eab4cf-d9ad-4754-b139-bf20474b9491.png)

Therefore, french locale should apply when editing speadsheets. e.g: "," as separator between the integer part of a number and the fr

[2022-06-28 11:27] mitohund commented on #4206
Now on COOLWSD 21.11.5.3., Nextcloud Office 6.1.0 and Nextcloud 24.0.2.

The issue persists.

[2022-06-28 11:28] jancborchardt opened #4959 "Unclear how to trigger the author color / caret name indicators"
**Describe the bug**
Currently the author color / caret name indicators are triggered:
- When scrolling
- When the person types or moves their caret

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a document with several people
2. Try and find out who is the person with the red caret

**Expected behavior**
Hovering on and around the caret could show the name.

As discussed @pedropintos

[2022-06-30 08:03] natrius opened #4966 ""Document loading failed" - NGINX, no Docker"
**Describe the bug**
Updated from Ubuntu 18.04 to 20.04 and now run into quite some problems with collabora.

**Details:**
Ubuntu 20.04 LTS
NGINX 1.18
PHP 8.1.7
Nextcloud 24.0.2
Richdocuments 6.1.0

Nextcloud shows me in the "Office" Tab that it is connected to the Collabora server.
![grafik](https://user-images.githubusercontent.com/7243447/175827117-926ad4ed-4e9f-4426-b93d-c51ca63fa90e.png)

Its

[2022-06-30 10:51] Ezinnem commented on #4937
Thank you for reporting.

This look like an enhancement feature we would like to consider in our future planning.

[2022-06-30 11:13] Rash419 commented on #4966
@natrius thanks for the report. Can you give us coolwsd logs ? Can you share command with which you start the CODE ?

[2022-07-01 06:09] jiandanfeng commented on #3128
@JackieAnxis 把windows的字体路径映射到服务镜像里面就行了，比如：docker run -t -d -p 9980:9980 -v C:/Windows/Fonts:/usr/share/fonts/truetype -v C:/Windows/Fonts:/opt/cool/systemplate/usr/share/fonts/truetype  --restart always wserp/code:latest

[2022-07-01 15:43] s1m-e0n commented on #4966
I am also experiencing this, same setup as natrius, though I have had this problem for a while now also with older Nextcloud and Richdocuments versions. I could get document loading to work though when setting "Enable HTTPS-Only Mode in all windows" in Firefox. I am also getting the error in the Nextcloud mobile apps.

[2022-07-03 20:00] natrius commented on #4966
Right now i found `/etc/cron.weekly/collabora_certs` to still look like its old with `lool` instead of `cool`

[code]

I changed it to `cool` and restarted the server, as expected no change - unfortunately. Still "Document failed to load".

[2022-07-04 05:37] Ezinnem commented on #4910
Confirmed in the Collabora Office app 21.11

[2022-07-04 06:51] eszkadev commented on #4942
it was intentional: https://github.com/CollaboraOnline/online/commit/1aed5dd
commit said it was not supported/not working

[2022-07-04 10:15] Ezinnem commented on #2107
This issue does not seem reproducible on my end.

@Ezee1015, Please can you test again using the updated version of the Collabora Office app.

You can also test using the daily snapshot from https://www.collaboraoffice.com/downloads/Collabora-Office-Android-Snapshot/

[2022-07-04 10:34] Ezinnem commented on #1956
@Leif-W, please do you experience a similar issue on the updated Collabora Office 21.11 version as well?

[2022-07-04 11:10] eszkadev commented on #3536
decided to merge it to the master first so we do more testing: https://gerrit.libreoffice.org/c/core/+/135059

[2022-07-04 12:53] Ashod commented on #1307
Thanks for reporting this @xklonx. Unfortunately, locks are still not fully supported by most implementations. There are outstanding tasks to improve locking, but this depends a lot on the support that the host implementations provide.

[2022-07-04 19:43] Leif-W commented on #1956
Listed as "Collabora Office 6.4" with 3 versions"22.11.5.3", of which 2 are tagged "Incompatible" in red, and the third is tagged "Suggested" in grey.  Attempting to install by clicking F-Droid's big "Instsll" button gives a warning that the version is incompatible with my device.  Ignoring the warning and choosing "yes" for "Ateempt to install anyway" ends up with an error dialog with 2 lines of

[2022-07-04 19:54] Ezee1015 commented on #2107
I'm sorry. I forgot this open Issue. I've changed the phone to a newer one and I can't reproduce it. And, since I don't have my old phone anymore, I can't test this out again, so I will close this issue since I can't reproduce it anymore. Thank you and greetings!

[2022-07-04 19:54] #2107 closed

[2022-07-05 13:54] Rimuruweeb commented on #4920
sir, can please provide code pointers ? and can you guide me ?.

[2022-07-05 14:03] eszkadev commented on #4920
@Rimuruweeb hi, here is function which setups the "following" of a user:
https://github.com/CollaboraOnline/online/blob/master/browser/src/map/Map.js#L1803

[2022-07-06 17:59] SustReal opened #4989 "Back button warning before closing the mobile app (Android)"
## Bug report
**Is your feature request related to a problem? Please describe.**
Typically, by using the back button on Android, I accidentally close the app. This is not ideal.

**Describe the solution you'd like**
Other apps, for instance the [Mattermost app for Android](https://play.google.com/store/apps/details?id=com.mattermost.rn&gl=US) trigger a warning before allowing to close the app with

[2022-07-06 19:00] juliushaertl opened #4990 "PDF annotations not saved through WOPI"
**Describe the bug**
When opening a PDF file in online it allows to add comments in the document as stated in the discovery through the `view_comment` action and announced in https://www.collaboraoffice.com/press-releases/collabora-online-6-4-0-released/

However the file is not being saved back through WOPI during my tests on the latest CODE docker image.

Downloading the PDF through the Download

[2022-07-06 19:54] Rash419 commented on #4966
@natrius
Can you share <wopi>...</wopi>config part from coolwsd.xml ?

[2022-07-06 20:42] s1m-e0n commented on #4966
@Rash419 CODE version is 22.05.3.1 but also had the problem on earlier versions.
I'm using the official docker image from https://hub.docker.com/r/collabora/code/, which uses https://github.com/CollaboraOnline/online/blob/master/docker/from-packages/scripts/start-collabora-online.sh in CMD

Here's my docker-compose.yml, if that's any help
[code]

[2022-07-07 09:57] juliushaertl commented on #4990
After some more debugging it seems that not saving was caused by the Nextcloud server returning a 503, but it is probably worth to expose an error in Collabora Online so the user is aware of that something went wrong.

[2022-07-07 10:28] juliushaertl opened #4993 "Docker image is missing branding"
The latest docker images seem to be missing the branding assets. [22.05.3.1.1](https://hub.docker.com/layers/code/collabora/code/22.05.3.1.1/images/sha256-cb1e8855ced342033956552fb9d5034533ee1526918dde84022b9f3a3f9c5146?context=explore)

COOLWSD version:
22.05.3.1 git hash: https://github.com/CollaboraOnline/online/commit/dcae5fa613077201283335df2731addaf0e3b252
LOKit version:
Collabora Office 22.

[2022-07-08 14:19] juliushaertl opened #5000 "Arrow key navigation broken in Calc"
**Describe the bug**
Navigating cells with arrow keys doesn't work in calc

coolwsd version https://github.com/CollaboraOnline/online/commits/d552fc0
core version https://git.libreoffice.org/core/+log/855f4a5

**To Reproduce**
Steps to reproduce the behavior:
1. Click a cell in calc
2. Press one of the arrow keys to move to left/right/top/bottom cel

**Expected behavior**
The corresponding cell ge

[2022-07-08 14:47] eszkadev commented on #5000
Hi, @juliushaertl yesterday I fixed some focus problem on Safari: https://github.com/CollaboraOnline/online/commit/b506abad583f458b7764ee88ef076e274b872329

I think it might be a solution for this issue.

[2022-07-11 11:17] timar commented on #4993
I don't know. I have the image from the same hash, and...
[code]

[2022-07-11 12:51] juliushaertl commented on #4993
I'm using the ARM docker image, sorry forgot to mention, will check on the x86_64 later.

[2022-07-11 14:21] juliushaertl commented on #4993
Confirmed that it is only happening on the arm container:

collabora/code                                     latest                                          d24080f0d03b   12 days ago     1.35GB

[2022-07-12 05:41] Elvis2000NC opened #5005 "Turn off automatic write check permanently"
Is it possible to turn off the automatic write check permanently? I disable it at every startup. When I restart collbora, it is already active again.

[2022-07-12 10:28] Rash419 commented on #4966
@natrius
`ERR Looks like SSL/TLS traffic on plain http port| wsd/COOLWSD.cpp:3373`
can you share config.php  ?

[2022-07-12 11:10] saschawinandy opened #5006 "Can't create comments with German special characters (Umlaute: äöüß)"
If I try to create a comment with a special character (öäüß) the comment do not appear after click on "save".

Steps to reproduce the behavior:
1. Create a new text document in Nextcloud by adding a document with "+"
2. Write some text: "lorem ipsum ..."
3. Mark a part of the text
4. Add a comment
5. Insert a text that contains a special german character äöüß
6. Hit "save"
7. Nothing was saved

Wi

[2022-07-12 14:43] Daenou commented on #1951
Just wanted to open a new issue but fortunately I saw that this already exists.
We're facing this issue everyday and it is a reason why CollaboraOnline isn't as popular within our organization. We use custom properties a lot and having to download the document and edit them in LibreOffice, only to reupload them defeats the whole purpose of LibreOffice. I would very much like this to be implemented

[2022-07-14 09:54] Ezinnem commented on #5006
This seems to be a duplicate of #4732.

Since they are similar, it would be best to track the issue on #4732

[2022-07-14 09:54] #5006 closed

[2022-07-14 10:22] #4993 closed

[2022-07-14 10:23] juliushaertl commented on #4993
Closing as fixed with the latest published image

[2022-07-14 10:40] sedric opened #5016 "Selfhosted grammar check does not work"
**Describe the bug**
Since 22.05.03 it is [advertised](https://www.collaboraoffice.com/press-releases/code-22-05-released-with-powerful-new-features-like-grammar-checks-sparklines-and-jumbo-spreadsheets/) that CODE support grammar check with LanguageTool.

But it seem it doesn't work, at least with selfhost coolwsd and LT HTTP Server (I installed them on the same host).

No request at all is made

[2022-07-14 11:19] zhivko opened #5017 "Using scroll bars in edit field make fields disapear"
**Describe the bug**

When using scrollbars to move listbox of edit field dialog, collabora hides part of listbox

**To Reproduce**

1. Open Edit fields dialog
2. Use horizontal scrollbars to scroll listbox content where fields are shown (leftmost listbox)
4. See how scroller hides part of listbox

**Expected behavior**
Using scrollbox should not hide contents of listbox

**Actual behavior**
Using

[2022-07-14 11:57] SustReal opened #5018 "Unexpected behaviour when deleting tables in Writer"
**Describe the bug**
When I right-click on "Delete > Table" it does not delete right away some times. When it does, it jumps to the beginning of the document.

**To Reproduce**
Steps to reproduce the behavior:
1. Create document with several pages and a table somewhere in the middle
2. Right-click on 'Delete -> Table'
3. See unexpected behaviour

**Expected behavior**
The cursor should stay in the

[2022-07-14 12:17] Ezinnem opened #5019 "Feature Request: Trackchanges Display"
**Is your feature request related to a problem? Please describe.**
Created from https://github.com/CollaboraOnline/online/issues/4911 to separate the issues for effective tracking

**Describe alternatives you've considered**
Like the current interface, the activity should continue to be displayed on the right-hand side, but with some improvements. As you can see in the first image below, it displa

[2022-07-14 12:40] yurkobb opened #5020 "Autofilter on bg, fg color impossible to activate"
**Describe the bug**

The UI for autofilter based on color doesn't seem to be functional.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a file containing rows with varying background and/or foreground colors
2. Activate Autofilter
3. Click on the autofilter arrow on the first column
4. (Tested with and without this step - uncheck All)
5. Click on "Background Color";
6. In the popup li

[2022-07-14 13:11] yurkobb commented on #5020
A simple test file: [test-colors.ods](https://github.com/CollaboraOnline/online/files/9112042/test-colors.ods)

[2022-07-14 13:40] gokaysatir commented on #5005
I checked it and "automatic spell checking" is not active event after restarting CODE server. You mean below feature right?

![spell-checking](https://user-images.githubusercontent.com/28108660/178995934-5372097a-232a-4a9d-9fe8-7ed61503fe86.png)

[2022-07-15 09:28] mmeeks commented on #4535
Its easy enough to add those APIs of course - the uno:CompareDocuments command is also reasonably easy to enable in the backend - just git grep doc_iniUnoCommands # in core.git - but this of course is going to want a file-picker to select another document to compare with and so on: more of a pain. I liked your website and UI video for change-tracking https://synergy.page/ that allows the user to s

[2022-07-15 13:56] #4180 closed

[2022-07-17 06:49] Ron161 opened #5031 "Server only accessible from internal network"
I tried to set up a CollaboraOnline server on a QNAP NAS with a nextcloud instance behind a nginx reverse proxy. When accessing the local ip of the CollaboraOnline server I get a "ok" but when trying to go through the reverse proxy i get a 504 Gateway Timeout.
I tested the nginx configuration by installing the Code server docker on my PC and changing only the host in the proxy which worked like a

[2022-07-18 01:52] thebearon commented on #4921
Actually, this is pretty much the same as #4250, let's close as duplicate.

[2022-07-18 01:52] #4921 closed

[2022-07-18 10:00] merttumer commented on #5016
I think the BaseURL config name is misunderstood and without needing the postfix at the end. Probably we need to update that so it will be more clear. You need to add /v2 to the baseurl. see: https://github.com/CollaboraOnline/online/blob/master/coolwsd.xml.in#L14 it has /v2 at the end so your url should look like that. Can you please try it with /v2 at the end?

Thank you for creating the issue

[2022-07-18 11:49] gmasei11 opened #5034 "Paragraph formatting is not saved in certain languages in Writer"
**Describe the bug**
For a document opened with parameter "lang=de-DE" the paragraph format changes are not saved and, after the document is reloaded, the paragraph format is the default one for previously changed characteristics.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a document
2. Select entirely a paragraph
3. Change font size or text alignment or any other format setting
4.

[2022-07-18 12:20] janilowski commented on #4592
The issue seems to persist on NC 24.0.2 and office 6.1.1 :p
<img width="989" alt="image" src="https://user-images.githubusercontent.com/76809077/179509254-8bf3c62f-b681-4727-8bed-6495f8f15cf9.png">

Users of my instance also reported missing icons in this Calc menu, which is used to format cell borders.
<img width="366" alt="image" src="https://user-images.githubusercontent.com/76809077/179509810-

[2022-07-19 01:58] thebearon commented on #3500
Indeed, same happens when you double-tap a document in the recent documents list.

[2022-07-19 04:16] thebearon commented on #3500
Ah right, that one's reported separately in #3497.

[2022-07-19 09:20] sedric commented on #5016
I just did and it change nothing, but it was expected : even with this mistake, I should have logs pointing to errors as the domain part of the URL is good. But I have no trace of any request to sub.domain.tld/lt/ from the browser inspector, in the proxy log, in coolwsd logs or in LT HTTP Server.

As if COOL does not even TRY to use LT.

[2022-07-19 15:59] M-Stenzel opened #5039 "PDF export fails with "Document cannot be exported. Please contact the storage server administrator.""
Hi team,

I cannot export pdf files from CODE, but receive the browser error message (see title).

In the coolwsd logs I find

---
Jul 19 18:34:27 terve.xy-space.de coolwsd[16526]: kit-16526-14688 2022-07-19 18:34:27.890093 +0300 [ kitbroker_004 ] ERR  ToMaster-0f3: SaveAs Failed for id=export [/tmp/user/docs/5vKqNWnZGdU1aFox6kCC8pi4lad1Yx5fEqJlXtEf8AQEHhXYtjcLTwQPCkuXIDzB/Fox.pdf]. error= excepti

[2022-07-19 16:42] M-Stenzel commented on #5039
This is a short update,

this scenario was self constructed,

I ran:
symlinks -r / | grep angli

which resulted in:
dangling: /opt/cool/systemplate/dev/urandom -> ../tmp/dev/urandom
dangling: /opt/cool/systemplate/dev/random -> ../tmp/dev/random

I stupidly tried to correct the "broken" links, bad one!

After reinstalling CODE which created the correct symlinks again, the problem was solved.

[2022-07-19 16:42] #5039 closed

[2022-07-19 22:12] Andreas-Kainz opened #5040 "Insert camera image on mobile"
On mobile there is no insert image from camera option.

You can insert file, but you can't insert direct an image from the mobile camera.

[2022-07-20 06:26] vmiklos commented on #5039
FWIW the reason the PDF export is broken without access to a random device is that the PDF export calculates some checksum of the document, which requires initializing NSS, which fails when no random device is available. Such hash is not calculated for the other formats mentioned in this issue, so those don't fail.

[2022-07-20 10:14] rpear commented on #3497
This still occurs in version: 21.11.3.6 of the Chromebook app, online git-hash: eb73aa348, core git-hash: e90143624dba

[2022-07-20 10:22] rpear commented on #3500
This is no longer a problem for me in version: 21.11.3.6 of the Chromebook app, online git-hash: eb73aa348, core git-hash: e90143624dba, it was only a problem for me in 6.4.

[2022-07-21 06:38] ghost opened #5047 "Video/music integration"
Is your feature request related to a problem? Please describe.
I am looking for an alternative to PowerPoint and CollaboraOnline as far as I can tell does not have the ability to insert music and video files.

Describe the solution you'd like
The function to be able to add video and audio files

**Additional context**
https://github.com/nextcloud/richdocuments/issues/2314

[2022-07-21 07:50] vmiklos commented on #5047
CC @Ashod

[2022-07-21 08:14] pedropintosilva commented on #4989
Thanks @SustReal I think this would be fairly simply to do to anyone with a bit of experience with Android development maybe we can turn this into a easy hack

[2022-07-21 08:15] pedropintosilva commented on #4989
What do you think @merttumer ? Is it easy enough to be classified as easy hack?

[2022-07-21 08:44] pedropintosilva commented on #5016
hm, I would expect 'languagetool' string to popup in the logs every time when the XML has it switch on, right @merttumer or am I wrong here?

[2022-07-21 08:45] pedropintosilva commented on #5017
https://forum.collaboraonline.com/t/scrollbar-in-editfields-hides-fields-list/1231/3

https://cgit.freedesktop.org/libreoffice/core/commit/?h=distro/collabora/co-22.05&id=77f4389f38feea54e6c777e86f7ee4a79331eb75

[2022-07-21 08:57] gmasei11 commented on #5034
The issue was generated by the changing of document language from the current one to English and back just for save operation. This triggered a mismatch of style names and the reference to the automatic style that contained format information was lost.
The issue was fixed in 21 by reverting the problematic commit: https://github.com/LibreOffice/core/commit/900891c3b42e80e8d3970fd5fc02b67022ae3795

[2022-07-21 09:16] Ezinnem commented on #5034
I tested using a similar build and with the parameter "lang=de-DE"

COOLWSD version:
22.05.4.1 git hash: [66c53864](https://github.com/CollaboraOnline/online/commits/66c53864)

https://user-images.githubusercontent.com/54344301/180177262-a320949a-b535-41e2-a7bf-579d163c3b0d.mp4

[2022-07-21 10:28] pedropintosilva commented on #5005
@Elvis2000NC  which version do you use and how is it setup? (docker, native packages ?)

[2022-07-21 11:02] thebearon commented on #5034
I managed to reproduce it by creating a new document in LibreOffice (in English language), then opening it in COOL in German language, and following the steps outlined by @gmasei11.

This seems to be a regression from https://github.com/LibreOffice/core/commit/4b7b449bbdc51557f62131a3b467b34ad39e8547 in 22.05. This commit is the second iteration after https://github.com/LibreOffice/core/commit/f4e

[2022-07-22 07:49] pedropintosilva commented on #4989
@mert confirmed: it's an excellent candidate for an easy hack, thanks!

[2022-07-22 07:55] #2071 closed

[2022-07-22 13:02] Igortorrente opened #5051 "Disable admin page login forms"
**Is your feature request related to a problem? Please describe.**
Would be good to have an option to disable the admin page login forms. And therefore, would be possible to access the admin page directly.

**Describe the solution you'd like**
A option in the `coolwsd.xml` or `"-e extra_params=--o:auth_forms=false` to enable or disable the auth forms.

**Describe alternatives you've considered**
A

[2022-07-22 13:31] pedropintosilva commented on #5040
Thanks for reporting this @Andreas-Kainz

[2022-07-22 13:48] pedropintosilva commented on #3405
For icons that have a different id than the existing icon we have `iconURLAliases` so we don't need to duplicate svg: https://github.com/CollaboraOnline/online/commit/142097b3402e0d9aa3221a6e326c6db20137e34a

[2022-07-22 13:50] pedropintosilva commented on #3405
@NickWingate is this completed ?

[2022-07-22 14:01] pedropintosilva opened #5052 "Remove duplicated SVG files and use iconURLAliases instead"
**This is an [Easy Hack](https://collaboraonline.github.io/post/easyhacks/).**
Potential mentors: @pedropintosilva @eszkadev

### Detailed description and rationale
We want to use the existent possibility to specify name alias for icons that are  generated via jsbuilder (sidebar, notebookbar) so we can:
-  Avoid having multiple duplicated icons with different names:
  - Example: 142097b3402e0d9aa3

[2022-07-22 14:02] pedropintosilva commented on #3405
I just created a more generic one for duplicated icons #5052

[2022-07-22 14:16] pedropintosilva opened #5053 "Remove any trace of ID with digit as suffix within CSS files"
**This is an [Easy Hack](https://collaboraonline.github.io/post/easyhacks/).**
Potential mentors: @pedropintosilva

### Detailed description and rationale
Elements with a digit at the end. Example #Save1 is generated to make ids unique, but it's not guaranteed to be always in the same place, meaning: sometimes the suffix might be added to the other element instead that shares the same base ID. Mor

[2022-07-22 14:24] pedropintosilva opened #5054 "Add dark mode toggle"
**This is an [Easy Hack](https://collaboraonline.github.io/post/easyhacks/).**
Potential mentors: @eszkadev

### Detailed description and rationale
Currently dark mode kicks in depending on user's system due to
[code]
https://github.com/CollaboraOnline/online/blob/master/browser/css/color-palette-dark.css#L1

It would be good as a next step to add:
- new icon within View tab (Tabbed view)
- new me

[2022-07-22 15:02] Ezinnem commented on #4029
Fixed with the commit: https://gerrit.libreoffice.org/c/core/+/137339

 Fine on:

COOLWSD version:
21.11.5.3 git hash: [391a917d](https://github.com/CollaboraOnline/online/commits/391a917d)
LOKit version:
Collabora OfficeDev 21.06.31.1 git hash: [7d74030](https://git.libreoffice.org/core/+log/7d74030)

[2022-07-22 15:02] #4029 closed

[2022-07-23 09:28] mmeeks commented on #5034
Hmm - I'm surprised these three steps cause grief - I would really think that switching back to the load-time locale would solve this. Was there any editing between them from the new view? - makes me wonder if the 2nd fix is broken.

Ash - why is 'setLoadLanguage' implemented but never called ? in the current state it -looks- like a complicated way of continuing to switch back to en-US to save ?

[2022-07-24 12:53] Ashod commented on #5034
Thanks @gmasei11 for the report and the helpful screencast! A fix is available for review: https://gerrit.libreoffice.org/c/core/+/137391

[2022-07-24 15:14] raghudaw opened #5055 "Mouse and keyboard Input bug"
Hi,

I have been using your App for Ipad , its excellent. Love the features. But since I use Ipad for daily use rather than a PC, i find it difficult to interact with Mouse and Keyboard.

Sometimes it just rejects input from peripherals and even if it works, its not accurate.
I mainly use Spreadsheet and the selecting or typing is big issue.

Kindly resolve it.

[2022-07-25 06:09] Ezinnem commented on #5055
@raghudaw, Please can you share more detailed steps on how to reproduce the issue that you experienced?

That would help us investigate the issue better.

[2022-07-25 06:45] Ezinnem commented on #5018
@SustReal, Please can you share a screen recording showing the issue?

[2022-07-25 07:43] gmasei11 commented on #5034
@Ashod @mmeeks I've tested the patch and it seems that it fixes the issue. Thanks!

I've cherry-picked the https://github.com/LibreOffice/core/commit/4b7b449bbdc51557f62131a3b467b34ad39e8547 patch in 21 and mixed with Ash's patch and it seems to work. Is it OK to backport these two patches to 21 too ? Are there any reasons not to do it ? If not then I can do that myself after Ash's patch will be m

[2022-07-25 11:26] mmeeks commented on #5034
Please do back-port to 21 =) good stuff!

[2022-07-25 12:12] Ashod commented on #5034
Fantastic, @gmasei11, thanks for the confirmation! Feel free to close this ticket if nothing further is need. Thanks!

[2022-07-25 19:57] thebearon commented on #5034
If we can be fairly sure now there won't be further regressions, this could be backported. Or we could wait a few weeks after the release of 22.05, and backport then if nothing comes up.

[2022-07-26 16:26] Ezinnem commented on #4173
@kukachik, Please can you check with an updated CODE Docker version. Does this issue still occur on your end?

[2022-07-26 22:13] nuokh opened #5064 "Support for layers in Draw"
From: https://github.com/nextcloud/richdocuments/issues/2317#issuecomment-1194486126

**Is your feature request related to a problem? Please describe.**
I want to create process maps in LibreOffice Draw using swimlanes. I can create a new layer and lock it in the desktop version of LibreOffice Draw. However, Nextcloud Office doesn't seem to offer any layer functionality to create, order, lock or e

[2022-07-27 09:36] pedropintosilva commented on #5054
this seems to be a problem already report on https://forum.collaboraonline.com/t/switch-between-light-dark-theme-code-22-05/1259/3 that people are getting dark mode by default depending on their system and as this is not ready yet would be good to get this easy hack in

[2022-07-27 10:34] pedropintosilva commented on #4920
this was done by me and already pushed

[2022-07-27 10:36] pedropintosilva commented on #4920
I think @Rimuruweeb is not work on this so, I'm assigning this to you @Minion3665 if that's ok :)

[2022-07-27 11:15] kukachik commented on #4173
all good in the latest update.

[2022-07-27 11:15] #4173 closed

[2022-07-27 15:28] avatar1024 opened #5069 "Input in percentage formatted cells does not work properly - calc"
Hello,

If a cell has percentage formatting and we enter a number, say 1, then the input becomes 100% (i.e. 1) instead of 1%. So while it is numerically/mathematically correct, it is at odd with the normal spreadsheet behaviour where you want to enter number as percentages in cells that have percentage formatting (i.e. if I type 1 in such a cell, what I mean is 1% and not 100%). This issue makes i

[2022-07-27 21:15] Pransav290302 commented on #5054
I would like to add that dark mode toggle button with nice design @pedropintosilva ...

[2022-07-28 08:26] mmeeks opened #5072 "GSoC: Admin console for clusters ..."
**This is an Easy Project, [idea for GSoC](https://collaboraonline.github.io/gsoc/).**
Potential mentors: @lpranam

### Detailed description and rationale

Currently the admin console connects to only a single server in a cluster - somewhat at random.
When clusters are setup they re-direct the connections based on the WOPSrc URL parameter.
When we load the Admin console we should fire off a number

[2022-07-28 10:36] kendy opened #5076 "Shared secret for the Remote config"
To be able to add access token for the convert-to endpoint, it is necessary to setup trusted communication between the COOL and integration for Remote config.

The idea is that the Remote config URL will contain a token, that will be then used while requesting the Remote config from the integration.

Then - this remote config will define a token for the the convert-to endpoint.

@juliushaertl: Ple

[2022-07-28 12:08] #5052 closed

[2022-07-28 19:38] Ezinnem commented on #5069
Confirmed in:

COOLWSD version:
22.05.4.1snapshot git hash: [dd6c5b1](https://github.com/CollaboraOnline/online/commits/dd6c5b1)

[2022-07-28 19:44] Ezinnem commented on #5064
@pedropintosilva

[2022-07-28 21:56] Andreas-Kainz commented on #5052
It's nice to have the option to link icons. What I don't understand is, why we can't use the link.txt file from libreoffice. Cause than we can copy the complete colibre/cmd folder from core to use it in cool and no double work is needed and cool didn't have to care about icons in general.

[2022-07-29 05:34] gmasei11 commented on #5034
Since the backported patches were accepted I will close this issue. If there will be any regressions we'll open separate issues and link to this one. Thanks everyone for help!

[2022-07-29 05:35] #5034 closed

[2022-07-29 08:13] avatar1024 commented on #551
Should this be marked as feature request or enhancement instead of a bug?? And do we know if there is any plan to add this function?

[2022-07-29 08:20] avatar1024 commented on #3745
Still the same in 22.05.3.1

[2022-07-29 10:36] pedropintosilva commented on #5054
Hi @Pransav290302 and welcome! I think Christopher has already a WIP fix for this but I think we have a couple of nice easy hacks waiting for someone to pick them up ;) like this one: https://github.com/CollaboraOnline/online/issues/4920

[2022-07-29 11:42] pedropintosilva opened #5084 "Add dark mode toggle icon"
**This is an [Easy Hack](https://collaboraonline.github.io/post/easyhacks/).**
Potential mentors: @pedropintosilva

### Detailed description and rationale
This icon is to be used in the new dark mode toggle #5054

### Code pointers
* Where: browser/images
* Branch: Please push PR against [feature/dark-mode](https://github.com/CollaboraOnline/online/tree/feature/dark-mode) (not master)

[2022-07-29 11:51] andrsharov commented on #551
Hi, @avatar1024 .

Yes this is not a bug, this is feature request . Please make it as feature request.

We need some functionality like Google Sheets , like this  https://support.google.com/a/users/answer/9308980?hl=en

[2022-07-29 20:42] Pransav290302 commented on #5054
Yess,i wll help @ChrisGlad by providing him an icon .

[2022-07-30 14:54] Ashod commented on #5047
Hi @R7JANV1. Yes, this is in progress. Stay tuned! And of course would highly appreciate help with testing, if possible.

[2022-08-01 09:52] durdin85 opened #5087 "Fonts outside the well known paths won't be installed to collabora online but remains cached"
**Describe the bug**
When system font is installed outside the well known font path, collabora would show the font in the possible font selection due to font being cached, but won't copy it to jail resulting in invisible text in document.

**To Reproduce**
Steps to reproduce the behavior:
1. Install some font outside of /usr/share/fonts, the **fonts-texgyre** deb package is nice example
2. Run **c

[2022-08-01 09:52] durdin85 opened #5088 "PDF export with space in name fails on collabora online"
**Describe the bug**
Trying to export PDF or Print just fails. Otherwise everything works fine. Seems the PDF export from CODE is still buggy.

**To Reproduce**
Steps to reproduce the behavior:
1. Try downloading file as PDF or printing.

**Expected behavior**
File downloaded as PDF

**Actual behavior**
Error stating "Document cannot be exported. Please contact the storage server administrator."

[2022-08-02 09:38] pedropintosilva commented on #5084
@Pransav290302 ^

[2022-08-02 09:39] pedropintosilva commented on #5054
Thanks @Pransav290302 I have pinged you in the #5084 feel free to answer so I can assign you (Github doesn't allow to assign people unless they comment first)

[2022-08-02 16:36] natrius commented on #4966
So, the `/etc/coolwsd/coolwsd.xml` as followed

[code]

and the `/var/www/nextcloud/config/config.php`

[code]

If thats what you mean @Rash419 (i hope i left no password...)

[2022-08-02 17:50] thebearon commented on #4792
Not only that, but when hovering over the Save button:
- the emphasized color is a washed blue, which doesn't really emphasize the focus,
- the pointer stays an arrow (when hovering over Cancel, it turns into a pointing hand).

[2022-08-03 09:30] ArshErgon commented on #2811
hey @pedropintosilva !
can you tell me where I can find that file and how I will be running this locally? I think I can fix this.

[2022-08-03 09:36] ArshErgon commented on #5053
Hey @pedropintosilva quick question, do we have to change the classes name also? and can you assign this to me?

[2022-08-03 09:53] ArshErgon commented on #4454
hey, I'm pretty new to open source, you want to put your input inside a set and later check if the next input is already exists means outputted or not?

[2022-08-03 10:03] Ezinnem commented on #3329
https://user-images.githubusercontent.com/54344301/182581952-aabaa52d-febc-49cf-8763-31e0e3a60c9a.mp4

[2022-08-03 10:03] #3329 closed

[2022-08-03 10:11] Ezinnem commented on #3125
@antiuser, please can you test again using an updated coolwsd version and see if the issue still occurs at your end?

[2022-08-03 10:19] antiuser commented on #3125
@Ezinnem
Hi!
After upgrading to coolwsd (22.05.4.1-1) from (22.05.3.1-1)
coolwsd doesnt restart automatically
[code]

[2022-08-03 13:54] pedropintosilva commented on #4443
I think this is done, right @eszkadev ?

[2022-08-03 13:55] #4443 closed

[2022-08-03 14:00] pedropintosilva commented on #5053
@ArshErgon Cool, assigned :) hm.. not sure if I understand. No need to change classes, I think. You can use other existing classes already or parent classes. So in the example of `#Save1` it was already fixed with https://github.com/CollaboraOnline/online/commit/160467ac964fbda60da7f72f7ea1e76576a3af3d, but we probably have more of these lying around

[2022-08-03 14:10] pedropintosilva commented on #3216
WRT https://github.com/CollaboraOnline/online/blob/master/Makefile.am

[2022-08-03 14:46] ArshErgon commented on #5053
@pedropintosilva I am asking about this example: `#style1`  like this has a suffix with an integer, but `#style1` is already mentioned as an `<element id="#style1">` do I have to remove this also? I think removing this will cause trouble, they would be many cases like this, Should rename it as `#styleOne`

[2022-08-04 04:48] ArshErgon commented on #4218
maybe I can do it, do I need an android studio for this? can you assign it to me and guide me how will I going to step up the project?

[2022-08-04 05:30] ArshErgon commented on #5072
can you guide me on this? I think I can do it.

[2022-08-04 06:13] Rash419 commented on #4966
@natrius
I think its ssl thing only can you try using having nextcloud and code without ssl
make sure you configure overwrite parameters correctly
https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/reverse_proxy_configuration.html#overwrite-parameters

[2022-08-04 08:17] ArshErgon commented on #5053
@pedropintosilva please close this issue it has already been solved.

[2022-08-04 09:53] mmeeks commented on #4454
Sure - the realization is that instead of re-parsing and scanning this string many many times searching for %FOO%, %BAA%, etc. we search for % <something> % - just once, and do a quick lookup on the <something> =) so we do one pass through the string - much less allocation, simpler code etc. =) Should be an easy programming task for a beginner I hope.

[2022-08-04 10:11] ArshErgon commented on #4454
@mmeeks okay, I think with some experiments I would understand it much better, how will I be running this locally, can you guide me on this? and where is the location of the file?

[2022-08-04 11:30] Ashod commented on #4454
Hi @ArshErgon! Thanks for your interest in this task.

This is a file-server over http. When we get a request, we have to serve the file, but only after we replace any variables in the file (marked between two % characters) with their true values. This variable replacement can be improved to be faster by splitting the file up-front (done once right after reading the file contents), so we don't hav

[2022-08-05 14:46] Andreas-Kainz opened #5111 "use images/dark/* icons at dark mode"
For dark mode #4751 the colibre-dark icons should be used which are located at browse/images/dark/*

[2022-08-05 15:03] Andreas-Kainz opened #5112 "collapsed notebookbar no bottom border"
In the notebookbar layout there is a bottom gray border line see:
![Screenshot_20220805_170041](https://user-images.githubusercontent.com/8517736/183104804-13781bdb-d7dc-425f-961d-a478b236e279.png)

when you collapse the notebookbar there should be also a bottom gray border line from my point of view
![Screenshot_20220805_165918](https://user-images.githubusercontent.com/8517736/183104701-e7b4706d

[2022-08-05 15:11] hanswang123456 commented on #5084
Can I attempt this issue?

[2022-08-05 17:15] danir-de opened #5113 "No integrator theme (Nextcloud Skin) on Collabora 22.05"
**Describe the bug**
Collabora Online 22.05 was released today. When updating Collabora from 21.11 to 22.05, the Nextcloud skin, including the logo set by Nextcloud are not displayed - Collabora loads in it's default skin.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to Collabora 22.05
2. Enable "use_integration_theme" in coolwsd config (or disable it, makes no difference)
3. Use

[2022-08-05 17:51] danir-de commented on #5113
Crossposted on nextcloud/richdocuments/issues/2361  - unsure where it belongs. Please close here if not applicable.

[2022-08-05 19:02] kangaroo72 opened #5114 "Collabora doesn't save formatting"
Writing a document and assign a format like bold.
After reopening, the formatting is gone

Tested with Windows (Edge & Firefox)

I'm running the system on Ubuntu 22.04LTS

Traefik, Nextcloud & Collabora are the latest docker-versions.

https://user-images.githubusercontent.com/6906390/183144084-49b05dda-0cdc-48f6-8eed-5e249e26d060.mp4

[2022-08-05 19:36] kangaroo72 commented on #5114
Updated from 22.05.3.1 -> 22.05.5.2 - now fixed!

[2022-08-05 19:36] #5114 closed

[2022-08-05 19:37] flagellatedcucumber commented on #4761
Oh dear.  As (nearly) predicted, it broke again.  It worked on every use... until Chrome OS updated.

It has now borked again, with nearly the same results with the following:
Chrome 103.0.5060.132
and Collabora office 21.06.25.1.

New screenshots and access to the prior screenshots available from:
https://drive.google.com/drive/folders/1H_48E_ycItI0dw1nY05wM7ramAJTMI_J?usp=sharing

[2022-08-06 08:03] rpear commented on #4761
I confirm, it was working on mine on Chrome 103, confirmed this, upgraded to v104 and I now get same issue again, same as for you. I have experienced the same cycle of it not working then working since Chrome 100. Google must be making big tweaks :-(

[2022-08-07 12:09] wadaki opened #5116 "Tile graphic issues during enter words in LibreWolf"
**Describe the bug**
Since the latest update, when I enter words in a document, I get big colored Quadrant in my document.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Nextcloud, create a new document, open with Nextcloud Office'
2. Write something
3. See error

**Screenshots**
![20220807_205653](https://user-images.githubusercontent.com/8577568/183289703-fb991c18-194e-4f48-8bab-a2

[2022-08-07 15:42] Andreas-Kainz opened #5118 "impress endless scrolling"
I understood that on desktop apps like in LibreOffice Impress you have the sidebar with the previews and in the main section the actual slide.

On mobile it's way easier to slide through a presentation (like you do in writer where you slide from one page to the next one) than you click one the previews. I understood that it's easier for **editing** one page after another and you see only one page,

[2022-08-07 16:14] Andreas-Kainz commented on #2512
ping @pedropintosilva

With no feedback, I will close the request.

[2022-08-07 16:22] Andreas-Kainz commented on #2811
![image](https://user-images.githubusercontent.com/8517736/183300818-ebce61f4-9b82-48dd-9ed4-e5e3a6629acb.png)

Dialog was already updated.

[2022-08-07 16:22] #2811 closed

[2022-08-07 16:37] Andreas-Kainz opened #5120 "formulabar was shown on mobile after click main-menu-btn"
https://user-images.githubusercontent.com/8517736/183301530-4e5688bc-607b-4956-b230-68892a30b63d.mp4

[2022-08-07 17:34] Andreas-Kainz commented on #5120
On mobile after click top right the hamburger menu the formulabar from calc was shown also in writer, impress, ... you see the bottom border.

![image](https://user-images.githubusercontent.com/8517736/183301593-1df96a7c-b02d-4c0d-87f7-1f18dbf64305.png)

[2022-08-07 17:35] Andreas-Kainz commented on #5120
@eszkadev any idea?

[2022-08-07 18:47] #3725 closed

[2022-08-07 18:48] #4330 closed

[2022-08-08 12:47] Ezinnem commented on #5116
Documents can be opened and edited with any graphics issues using Chrome, Brave, and Firefox browsers.

This issue is only reproducible when using the LibreWolf browser.

@wadaki, please can you test again using any of the browsers?

[2022-08-08 16:06] SustReal opened #5127 ""Ignore all" feature from the spell checker is not working properly"
**Describe the bug**
In Writer Online, when you right-click on a term that is underlined in red as a spelling mistake but actually isn't (like a personal name, or a brand name) and choose "ignore all" from the context menu, the red underline won't disappear. I've noticed this bug on a system, that has the new LanguageTool functionality enabled, but I don't know, if this is related.

**To Reproduce

[2022-08-08 22:37] wadaki commented on #5116
Yes, correct. I test it with FF and it's works. But with Collabora Online version before was no issues. So this is NOT a browser issue only.

[2022-08-09 05:21] juliushaertl commented on #5113
What installation method did you use (docker, ubuntu/debian packages or others)?

For docker there seems to have been a follow up release at Aug 5, 2022 at 10:51 am where I cannot reproduce this, so maybe you can double check that with the latest release.

[2022-08-09 05:22] juliushaertl commented on #5113
cc @gokaysatir

[2022-08-09 07:39] danir-de commented on #5113
This was tested with the stable branch of 22.05 - debian packages. (Not CODE)

[2022-08-09 09:32] mmeeks commented on #5072
Sorry AshErgon - Christopher is already working on this; and some notes in more detail:

[code]

[2022-08-09 13:12] NickWingate opened #5128 "Stop JSDialogs labels changing color on hover"
**This is an [Easy Hack](https://collaboraonline.github.io/post/easyhacks/).**
Potential mentors: @pedropintosilva

### Detailed description and rationale
When hovering over a JSDialog:
* All labels change colour.
  * This isn't noticeable in light mode, but is distracting in dark mode.
* Additionally, the text can be hard to see as it lacks contrast.

#### Examples:
`Home > Find And Replace`
![](

[2022-08-10 07:19] pedropintosilva commented on #5084
Hi @hanswang123456 yes!

[2022-08-10 07:19] pedropintosilva commented on #5084
I have just assigned this to you

[2022-08-10 07:41] pedropintosilva commented on #5053
ok @ArshErgon thanks for taking the time to check and test it left and right, I highly appreciated !

[2022-08-10 07:41] #5053 closed

[2022-08-10 09:41] SustReal commented on #5018
@Ezinnem I'm afraid I'm currently not able to replicate the error any longer. If this shows again, I'll be adding a file and/or recording.

[2022-08-10 10:12] Ezinnem commented on #5055
Closing this issue due to lack of feedback.
This issue can be reopened when more details are provided

@raghudaw, you are welcome to send more detailed steps to help us investigate the issue better.

[2022-08-10 10:12] #5055 closed

[2022-08-10 11:44] KiaraGrouwstra opened #5132 "Cannot copy document comment (unless in Modify mode)"
**Describe the bug**
I sometimes can, sometimes cannot seem to copy comment contents in NextCloud Office.

**To Reproduce**
Steps to reproduce the behavior:
1. Open an ODT document
2. Open a comment
3. Select (some of) its content
4. Copy it (ctrl-c)
5. Paste clipboard content somewhere
6. Find out the selected comment text wasn't in the clipboard

**Expected behavior**
Selected text is copied

**

[2022-08-10 15:00] SustReal opened #5136 "Language Selection in Status Bar does not behave as expected in MultiLanguage Documents"
**Describe the bug**
It is up to debate, whether this is a missing feature or a bug. Currently, the language selection in the status bar does behave differently than it does on the desktop in Collabora Office or LibreOffice. If you select text and then choose a language from the options in the status bar at the bottom, I would expect **only the selection** to be changed to that language – similarl

[2022-08-10 15:54] Ezinnem commented on #5018
Thank you.

I will be closing this issue for now. It can be reopened later if the issue reoccurs.
Please feel free to send the recording if it occurs again.

[2022-08-10 15:54] #5018 closed

[2022-08-11 06:53] Ezinnem commented on #5120
Reproducible in:
COOLWSD version:
21.11.6.1 git hash: [6706dd457](https://github.com/CollaboraOnline/online/commits/6706dd457)

[2022-08-11 08:56] Ezinnem commented on #5136
Reproducible in:

COOLWSD version:
22.05.5.2 git hash: [4f5845c4](https://github.com/CollaboraOnline/online/commits/4f5845c4)

[2022-08-11 09:23] Ezinnem commented on #5020
The issue has been fixed with the patch: https://github.com/CollaboraOnline/online/pull/5130

User can no longer Unselect All.

[2022-08-11 09:23] #5020 closed

[2022-08-11 09:39] pedropintosilva commented on #5112
hm I'm afraid that was intentional because:
* The tabs parent never has border. Meaning the tabs are not really "glued" to tabs' content
  * So it would be rather strange to suddenly add bottom border once the tab content is not there
* It allows for a less "framed" interface around the document. So less clutter where the document remains the centerpiece
  * This is even more evident when also sid

[2022-08-11 10:04] corincorvus opened #5139 "Copy and Paste not working in Collabora"
**Describe the bug**
I copy something on my PC, a Link or Text, but i cant paste it in a Document or Sheet.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Document
2. Copy Link from Browser or other Text
3. Paste it in Document

**Expected behavior**
The Text is in the Document now

**Screenshots**
If i try to use "Paste" in the Menu, i get this Message:
![grafik](https://user-images.g

[2022-08-11 10:15] Ezinnem commented on #5132
This does not seem reproducible on my end using the:
CODE version:
22.05.5.2 git hash: [358ba77](https://github.com/CollaboraOnline/online/commits/358ba77)(E)

@KiaraGrouwstra, Please can you share a screen-recording of the issue?

[2022-08-11 11:46] Ezinnem commented on #5139
@corincorvus, does the copied text get pasted when you use CTRL+V as the instruction from the dialog suggests?

[2022-08-11 14:09] Jerome-Herbinet opened #5142 ""Row height" button not translated in french and I can't find it in Transiflex"
Hello !

**Describe the bug**
![2022-08-11_15-59](https://user-images.githubusercontent.com/33763786/184151289-ac1433c6-595e-48b2-ac3d-0a9710e7ec04.png)

I don't know if this label is hard-coded ... or if i didn't search well in Transiflex.

Can you have a look et tel me what the problem is ?

I would have some other buttons' labels to translate as well ... (written in English while my UI is in Fr

[2022-08-11 16:21] KiaraGrouwstra commented on #5132
Hi @Ezinnem. I'm having trouble with screen recording due to X/Wayland stuff.
Is there any particular doubt you would like to see answered by the screen recording?
For what it's worth, I do seem able to reproduce using Chrome as well, if also on Arch.

[2022-08-11 16:55] eszkadev commented on #3927
I can confirm, it happens not only on tablet but also on iPhone in iOS app. But not in Safari on the same phone or in desktop browser (that was tested on linux).
So - it's something related to iOS app.

[2022-08-11 21:11] Ornanovitch commented on #4592
Still an issue on 22.05. How can we progress on the "is it a NC or a CODE issue" question?

[2022-08-12 07:26] Ezinnem commented on #5139
This may be very similar to the report on https://github.com/CollaboraOnline/online/issues/3928

Since they are similar, I will close this report.

@corincorvus, the issue will be tracked on https://github.com/CollaboraOnline/online/issues/3928

[2022-08-12 07:26] #5139 closed

[2022-08-12 07:34] Ezinnem commented on #3928
This issue is not reproducible on my end.

Please can you share a screen recording showing the issue?
That may be helpful in investigating the problem.

[2022-08-12 07:56] corincorvus commented on #5139
@Ezinnem
https://www.youtube.com/watch?v=VNHlzPtduNY

[2022-08-12 07:58] Ezinnem commented on #5142
Reproducible in:

CODE Server 22.5.502

[2022-08-12 08:03] Ezinnem commented on #4819
I am closing this issue due to no feedback from the author.

However, the issue can be reopened if the issue still occurs in the recent docker image

[2022-08-12 08:03] #4819 closed

[2022-08-12 08:09] Jerome-Herbinet commented on #5142
I think this would be cleaner to get this in French too :
![2022-08-12_10-06](https://user-images.githubusercontent.com/33763786/184312558-434a479d-45cc-464e-b0b3-0ced549074fa.png)

[2022-08-12 08:30] corincorvus commented on #3928
@Ezinnem
Here is a Video. I everytime try Strg-V.
https://www.youtube.com/watch?v=VNHlzPtduNY

[2022-08-12 08:31] Llazcanoster commented on #3928
Indirectly my problem has been solved, I can now copy and paste from outside Collabora.

I recently moved the Nextcloud instance from xx.ddns.net/nextcloud/index.php to new-xx.ddns.net/index.php.

And I have included only one change in apache2 -> sites-enabled -> nextcloud.conf, which is "Options -Indexes".

I leave below the file in case by comparison it can be of help to someone:

    <IfModule

[2022-08-12 09:54] Llazcanoster commented on #3928
Nop, sorry, I have'nt experience with engine x
But I'm sure someone will eventually figure it out

[2022-08-12 12:56] hanswang123456 commented on #5084
Feel free to work on the issue too @Pransav290302

[2022-08-12 13:06] SustReal opened #5147 "Holding Ctrl+Shift should preserve the ratio of images & shapes when resizing them"
**Describe the bug**
Maybe also rather a request for an enhancement than a bug. People used to work with graphical programs (Adobe, Gimp, Inkscape) are used to hold the key combination "ctrl + shift" to preserve the ration of objects (e.g. images) when resizing them. For probably historic reasons in Collabora Online this is achieved by the "shift lock" key. However, this results in a bad user expe

[2022-08-13 08:51] xiaohange opened #5149 "PDF' is always 0kb"
Question 1:
[code]
After execution, the out Pdf, but the file size of 'out. PDF' is always 0kb, and it is blank after opening;

Question 2:
I try to implement the above curl command on the python side. The code is as follows. The request always returns ` Code: 403`;

[code]

[2022-08-13 11:01] kompilainenn opened #5150 "Autofilter doesn't work in Collabora Online 22.05.0.1"
**Describe the bug**
Open file from attach in COOL 22.05.0.1 and try use Autofilter, its controls just don't work and the text field for item filter too

**To Reproduce**
Steps to reproduce the behavior:
1. Open the file from attach in COOL 22.05.0.1
2. try enter Кузне in the text field for filter of the items in Autofilter => it happens nothing
3. try select/deselect options All/Show only current

[2022-08-14 06:35] celogeek opened #5151 "Debian Upgrade Failed: 403 Forbidden [IP: 46.235.227.219 443]"
I try to update the debian package this morning:

Sources:
[code]

From:
[code]

Result:
[code]

I guess the repository config has changed.
Can you take a look?

[2022-08-14 16:11] VVD commented on #5151
Same here with Ubuntu 22.04 (and other versions too).
All deb repos missing `collaboraoffice*.deb` files.

[2022-08-14 18:48] hanswang123456 commented on #5084
I have made made a prototype for the darkmode icon. let me know if I need to re-title the pull request or change up the design.

[2022-08-14 21:38] dagaz commented on #5151
Also the same for Debian 10

[2022-08-15 12:13] fabiorasta commented on #5151
The same problem with Fedora Server 36 (Centos 8 repo).
And i take a look in the other CODE repositories, and all missing the collaboraoffice packages.

The repo url was changed ?

[2022-08-15 15:12] dagaz commented on #5151
Updates for Debian 10 are working again.

[2022-08-15 15:21] belzebub40k commented on #5151
Debian 11 is also working again

[2022-08-15 16:01] fabiorasta commented on #5151
Now also Centos8 is back ;-)

[2022-08-15 16:12] thebearon commented on #5151
Yes, it's fixed now, thanks for your patience!

[2022-08-15 16:12] #5151 closed

[2022-08-15 16:34] fabiorasta commented on #5151
Thanks for the help  !! ;-)

Il 15/08/22 18:12, thebearon ha scritto:

[2022-08-15 18:26] VVD commented on #5151
Thanks, work on Ubuntu too.

[2022-08-16 07:40] redglobuli opened #5155 "upgraded coolwsd on ubuntu 18.04 lts from 21.06 to 22.05 - doesn't start anymore (no docker)"
**Describe the bug**
Everything worked with 21.06, now i upgraded to 22.05 and coolwsd isn't responding on 9980 anymore.

The instance is running on OpenVZ VPS.

curl -k http://127.0.0.1:9980 times out

journalctl shows (i set logging to trace) a loop like this:

[code]

only problem i see may be this:

[code]

I also tried to apt purge every package, removed /opt/cool, /opt/collaboraoffice /etc/c

[2022-08-16 08:41] pedropintosilva commented on #5054
fixed with https://github.com/CollaboraOnline/online/pull/5102 and added to feature branch

[2022-08-16 08:41] #5054 closed

[2022-08-16 09:16] pedropintosilva commented on #4989
Maybe let's rethink this. Maybe this is not so useful when it's impossible to accidentally close the app when editing it (the user needs to tap first the checkmark  and just then he/she can tap the back button)

[2022-08-16 09:28] pedropintosilva commented on #4920
@GulsahKose is on this now, thanks !

[2022-08-16 11:51] jancborchardt commented on #4592
Yep, happening again as mentioned in the meeting. @pedropintosilva @juliushaertl where do we fix it? :)
![Uploading dark mode header.png…]()

[2022-08-16 12:53] Ezinnem commented on #5150
The issue is no longer reproducible in the newer 22.05.5.3 version.

I tested using the COOLWSD version:
22.05.5.3 git hash: [23715f72](https://github.com/CollaboraOnline/online/commits/23715f72)(E)

See the patch on https://github.com/CollaboraOnline/online/pull/5130

[2022-08-16 13:12] Ezinnem commented on #4863
Closing this issue due to no response from the author.

[2022-08-16 13:12] #4863 closed

[2022-08-16 13:49] #2809 closed

[2022-08-16 14:04] #1951 closed

[2022-08-16 14:49] Ezinnem commented on #4733
@Offutticus, please can you test again using a more recent Collabora Office version?

If the issue still persists, please share a sample file.

[2022-08-16 18:43] hanswang123456 commented on #5084
@pedropintosilva, I've replaced the previous pull request and made sure to only have 1 commit.

[2022-08-16 22:51] juliushaertl commented on #4592
So the tricky bit is that we currently read out the css variables which we do only have available for either light or dark theme, so maybe we need to add some extra backend logic to expose the light colors for Collabora. For 25 we could make use of https://github.com/nextcloud/server/pull/33564 for that easily

[2022-08-16 22:52] juliushaertl commented on #4592
Relevant code bits are in https://github.com/nextcloud/richdocuments/blob/2c61f2eadd51653c778d866b1740aac43ae9c9ac/src/helpers/coolParameters.js#L47-L79

[2022-08-17 05:36] brknkfr commented on #5155
I have exactly the same problem and logs. I did a fresh installation of coolwsd in an unprivileged lxc container running debian 11 (amd64).

[2022-08-17 15:31] brknkfr opened #5164 "ERR Poco Exception: File not found: /opt/cool/child-roots/kKwSDrf3cR8mcwCG//delete.me (Starting coolwsd in unprivileged lxc container fails)"
**Describe the bug**
I installed the most recent `coolwsd` (version 22.05.5.3-1) on an unprivileged lxc container (debian 11 bullseye on amd64). It seems that coolwsd isn't starting up properly. It is falling into a strange `prisoner_poll` loop and a connection to port 9980 is not possible (curl -k http://127.0.0.1:9980 times out). The bug is probably related to https://github.com/CollaboraOnline/

[2022-08-17 15:56] Elliot-Construct commented on #4878
I have the exact same problem using Squid Reverse proxy

[2022-08-18 01:02] thebearon commented on #5149
Please use the forum for questions in the future: https://forum.collaboraonline.com/

The problem is that the endpoint has `/cool/`, not `/lool/` in it since version 21.11.

[2022-08-18 01:02] #5149 closed

[2022-08-18 12:37] Raudius opened #5167 "DisableCopy does not remove "Save as" menu option"
**Describe the bug**
"Save as" menu option is available even when `DisableCopy` is true.
This is the case when sharing files on Nextcloud with "Allow download" sharing option disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. In Nextcloud have 2 users
2. `Alice` shares file with `Bob`
3. `Alice` disables "Allow download" in the share
4. `Bob` opens the shared file
5. "Save as" option

[2022-08-18 12:40] Raudius commented on #5167
@pedropintosilva Here is the issue I was describing in the community call ;)

[2022-08-18 19:49] hanswang123456 commented on #5128
Should we change it so the text color matches the lighter shade (#e8e8e8)?

[2022-08-19 03:41] SamarthAsthan commented on #4989
it is still available ? can I work on it?

[2022-08-19 03:43] SamarthAsthan commented on #5040
@Andreas-Kainz can I know in more details ?

[2022-08-19 11:49] pedropintosilva commented on #5128
@hanswang123456 yup sounds good

[2022-08-19 13:15] reos-rcrozier opened #5170 "Collabora cannot load documents in certain paths in my Nextcloud instance."
**Describe the bug**
I am unable to load spreadsheets or other documents in certain paths in my Nextcloud instance. Most spreadsheets open fine, but in certain paths I receive an error as shown in the screenshot and Chromium console log below.

[code]

If I move the spreadsheet to another folder it opens fine. If I move them elsewhere they open, if I move them back they stop opening.

I definitely

[2022-08-20 10:09] KiaraGrouwstra opened #5172 "emoji won't display"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
- use emoji (e.g. ✅❌) in a `.odt` document
- try different fonts
- find even EmojiOne Color to not display color, many other fonts not display the emoji at all

**Expected behavior**
have fonts lacking certain glyphs fall back on other fonts such that missing glyphs may still be displayed as well

**Actual b

[2022-08-20 14:44] KiaraGrouwstra opened #5173 "Table formatting resets when adding columns/rows"
**Describe the bug**
I found when changing the layout of a table the formatting will change.

**To Reproduce**

- make table
- make first row bold
- add column
- find bold formatting is gone

**Expected behavior**
Formatting intact

**Actual behavior**
Formatting reset

**Desktop (please complete the following information)**
 - OS: Arch
 - Browser: Firefox
 - Version: 103.0.2

[2022-08-21 13:45] flagellatedcucumber commented on #4761
Bug report filed with Google from the ChromeOS device.  Screenshots etc at https://drive.google.com/drive/folders/1H_48E_ycItI0dw1nY05wM7ramAJTMI_J?usp=sharing (in "Test #4761 20220821").

[2022-08-23 08:51] Ezinnem commented on #5173
Reproducible in:
COOLWSD version:
22.05.5.3 git hash: [0dff3076](https://github.com/CollaboraOnline/online/commits/0dff3076)(E)

[2022-08-23 09:12] thebearon commented on #5113
This has been clarified separately, thus let's close the issue.

[2022-08-23 09:12] #5113 closed

[2022-08-23 09:49] #5150 closed

[2022-08-23 10:49] Ezinnem commented on #5167
Reproducible in:
COOLWSD version: 22.05.5.3 git hash: [184488b9](https://github.com/CollaboraOnline/online/commits/184488b9)

[2022-08-23 14:17] Ezinnem commented on #4733
Closing this issue due to lack of feedback from the author.

[2022-08-24 09:58] Raudius commented on #5167
It was brought to my attention that `DisableCopy` actually disables copy-pasting in the document, not copying the file.

Disabling `UserCanNotWriteRelative` prevents writing files to the server. This also removes the "Save as" option :)

[2022-08-24 09:58] #5167 closed

[2022-08-24 11:47] elhananjair opened #5185 "Load specific page/menu when print button clicked"
**Is your feature request related to a problem? Please describe.**
When I try to print a document with many pages such as >50 it takes longer to convert it into PDF for print. Waiting to print a single page or current page out of all pages costs time.

**Describe the solution you'd like**
Able to select the current page or specific page (ranges) to print at once.

**Describe alternatives you've co

[2022-08-24 13:37] hanswang123456 commented on #5128
Ill try to resolve the issue. From what I see, removing the hover on line 90 makes it less distracting and changing the color in ui-tabs.jsdialog improves contrast:
![image](https://user-images.githubusercontent.com/50556568/186432690-bca5d63c-3b15-4869-8980-115ebc84fa45.png)

[2022-08-25 17:12] iasdeoupxe commented on #5155
Noticed the same this week on an unprivileged LXC container running Debian 10.

After digging a little bit around this looks like some kind of missing file capabilities. The current ones for /usr/bin/coolmount looks like the following:

[code]

After doing the following to set the same file capabilities like already set for /usr/bin/coolforkit:

[code]

the issue disappears.

DISCLAIMER: Not sure

[2022-08-25 17:15] iasdeoupxe commented on #5164
Noticed the same this week on an unprivileged LXC container running Debian 10.

After digging a little bit around this looks like some kind of missing file capabilities. The current ones for /usr/bin/coolmount looks like the following:

[code]

After doing the following to set the same file capabilities like already set for /usr/bin/coolforkit:

[code]

the issue disappears and the connection to t

[2022-08-25 17:16] redglobuli commented on #5155
yep, that worked.

Let's see if the collabora folks can tell us if this rights are too open.

[2022-08-26 06:13] brknkfr commented on #5164
Seems to work again after setting the capabilities. Hopefully there will be a reaction of the collabora people to this.

[2022-08-27 11:13] cammeltech commented on #5164
Same Problem - Same fix. Thank you! I've been looking for a solution for many hours.

[2022-08-27 14:07] porrarafaelmano opened #5192 "CODE 22.05 + Nextcloud Office 6.2.0 (richdocuments) + Apache2 Reverse Proxy = not working"
I'm trying to install Collabora CODE on a Nextcloud Server, but Nextcloud Office app (richdocuments) could not load Collabora (it's not even reachable).

So I decided to downgrade CODE from 22.05 to 21.11

**_/etc/apt/sources.list.d/collabora.sources_**
[code]

CODE 21.11 is reachable, but Nextcloud Office (richdocuments) 6.2.0 failed to load a document file.

And again, I decided to downgrade Nex

[2022-08-27 18:43] chiuyau commented on #3128
### How to add Chinese fonts? 如何增加中文字体？
It works for me! I am adding new fonts to NextCloud Office ( Collabora Online - Built-in CODE Server ) as I found that it does not support Chinese characters originally.

My settings are： Ubuntu, Apache 2.4.52, MySQL 8.0, PHP 8.1 ( LAMP, non docker environment )

Here’s how i made it:

Put fonts files in any path that are listed in /etc/fonts/fonts.conf (i.e

[2022-08-30 14:48] #4920 closed, assigned to nobody

[2022-08-31 21:58] GreenImp commented on #4520
I'm able to reproduce this using the version from the Android play store (currently installed v21.11.6.1).

But this isn't new behaviour. I've had it installed for months (Maybe over a year), and it's always been very slow to render PDFs. So much so, that it's unusable.

[2022-09-01 08:15] Ezinnem commented on #5185
Closing this issue due to no response from the author

[2022-09-01 09:57] pedropintosilva commented on #5142
Hi @Jerome-Herbinet we use weblate :) https://hosted.weblate.org/search/collabora-online/ui/?offset=1&q=+source%3A%22Row+height%22+&sort_by=-priority%2Cposition&checksum=

We also publish every month the leader board in the forum: https://forum.collaboraonline.com/t/weblate-stats-august-2022/1330 ;)

[2022-09-01 12:31] elhananjair commented on #5185
@Ezinnem sorry that I haven't responded to your suggestions
Currently, I am using Microsoft Edge and when I press on print Icon print layout of the browser will appear. But in your case I think that layout/UI is generated in Collabora Online. When the document page is too long, it takes a long time to get into the print layout.

![image](https://user-images.githubusercontent.com/69236638/187914201

[2022-09-03 12:15] shakeme commented on #4732
Same here with german umlauts.
I'm also open for testing if you need.

[2022-09-03 14:40] FabKre opened #5204 "YEARS-function in calc crashes CollaboraOfficeApp on iPadOS"
**Describe the bug**
YEARS-function in calc crashes CollaboraOfficeApp on iPadOS

**To Reproduce**
Steps to reproduce the behavior:
1. Create Speadsheet in LibreOffice (or AO) using the YEARS-function
2. Save and send file to iPad
3. Collabora crashes

**Expected behavior**
Collabora shows speadsheet

**Actual behavior**
Collabora opens for a second and crashes

**Screenshots**
don't have any

**

[2022-09-03 15:05] netadm001 commented on #4732
Today, after 2 updates from the 19.05.2022, the bug is already present for me. I'm waiting for a fix, but I think this is not prioritized at this time. I hope this is resolved this year :-)

[2022-09-05 08:47] tml1024 commented on #5204
Something like that, probably yes.

[2022-09-05 13:07] thebearon commented on #5204
I think this is the function that's ultimately called:
https://opengrok.libreoffice.org/xref/core/scaddins/source/datefunc/datefunc.cxx?r=dac843c4#544

There was another issue in the past when a function didn't work as expected on iOS, but in that case only the result was wrong #1519.

[2022-09-05 13:11] genofire opened #5206 "Invalid Prometheus/OpenMetric Values"
**Describe the bug**

OpenMetric does not allow values to be an string: https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#values
(This should be an Label).

@mmeeks you have overseen my comment.

https://github.com/CollaboraOnline/online/pull/5203#discussion_r962158141

Please put the `doc_host`, `doc_key` and `doc_filename` to the Label (suffix, like the pid)

[2022-09-05 15:17] mitohund commented on #4206
Now on COOLWSD 22.05.5.4, Nextcloud Office 6.2.0 and Nextcloud 24.0.4.

The issue persists.

[2022-09-05 15:28] mmeeks commented on #5206
Sure - I did that - the output for these is:

doc_host{pid=1132173} = "localhost"
doc_key{pid=1132173} = "https://localhost:9980/wopi/files/opt/libreoffice/online/test/data/hello-world.odt"
doc_filename{pid=1132173} = "hello-world.odt"
doc_views{pid=1132173} 1
...

which seems to meet the label spec. or did I miss something (?)

[2022-09-06 11:12] mmeeks commented on #5206
So - big machines need monitoring - 1k documents or so, we can use a different and better format than prometheus of course. I can't make myself repeat all that per item; does it fly to do:

doc_pid{host="localhost",key="https://localhost:9980/wopi/files/opt/libreoffice/online/test/data/hello-world.odt",filename="hello-world.odt"} 12345

and then have a bunch of (as now)

doc_views_active{pid=12345

[2022-09-06 20:18] mmeeks commented on #5206
Fixing it as above here: https://github.com/CollaboraOnline/online/pull/5211 - hopefully that closes this =)

[2022-09-06 22:36] natrius commented on #4966
It seems i have solved it. I got in there with a fresh mind and tried to check it step by step: https://www.collaboraoffice.com/code-4/linux-packages/

and i think due to the distribution update from 20.04 to 22.04 the `/etc/apt/sources.list.d/collaboraonline.sources` was still wrong and due to that nothing worked. Suddenly i was now also able to use the nginx config i used in my first post (https

[2022-09-06 22:36] #4966 closed

[2022-09-07 09:29] tml1024 opened #5215 "Assertion failure in the iOS app when opening a PDF document"
The assertion failure is in appendBlob() in wsd/TileCache.hpp.

Backtrace below. Will try to get the JavaScript console output, too.

#4	0x00000001043d8d78 in TileData::appendBlob(unsigned int, char const*, unsigned long) at /Users/tml/lo/online-ios-master/wsd/TileCache.hpp:83
#5	0x00000001043eae54 in TileData::TileData(unsigned int, char const*, unsigned long) at /Users/tml/lo/online-ios-master/w

[2022-09-07 09:58] tml1024 commented on #5215
No, for some reason the JavaScript console is blank when I attach to the Online Editor from Safari on a Mac. Changing the assert() to code that does a sleep(200) instead of causing an assertion failure does not help.

[2022-09-07 10:14] tml1024 commented on #5204
Interesting. The crash is in the inline assembly in callVirtualMethod() in the C++/UNO bridge. Backtrace:

#0	0x00000001044184e4 in (anonymous namespace)::callVirtualMethod(void*, int, void*, _typelib_TypeDescriptionReference*, unsigned long*, int, unsigned long*, double*) at /Users/tml/lo/co-22.05-ios-debug/bridges/source/cpp_uno/gcc3_ios/uno2cpp.cxx:150
#1	0x0000000104417c68 in (anonymous namesp

[2022-09-07 10:43] tml1024 commented on #5204
The YEARS function is indeed implemented as a Calc "addin" so it seems that calling such that is broken on iOS.

[2022-09-07 10:47] tml1024 commented on #5204
IMHO it is questionable how useful the "addin" concept is anyway.  But presumably removing that (and turning these functions into normal ones in Calc) will not be accepted by the community.

[2022-09-07 10:57] tml1024 commented on #5204
Eike responds:

[2022-09-07 14:45] HeluSZB opened #5220 "Can‘t close documents in iOS App"
There is no button to close a odt document in the iOS app.
![A46CC74F-A4DF-44D3-BE25-F1571EA1753D](https://user-images.githubusercontent.com/113041611/188907473-b9c8fb3d-538c-4642-80b4-8e5d2969372b.png)
iOS-Version: 15.6.1
iPad: iPad (9. Generation)

[2022-09-07 15:16] Alternativend commented on #5220
Same here on different iPads with the following versions:

coolwsd: 22.05.5.3
Collabora OfficeDev 22.05.5.3

[2022-09-07 15:37] Alternativend commented on #5088
I can confirm that. Im running CODE on Debian 11 VM, no docker and no LXC. PDF export is not working.

coolwsd: 22.05.5.3
Collabora OfficeDev 22.05.5.3

Maybe this xpdfimport is meant (https://sources.debian.org/src/libreoffice/1%3A7.4.0~beta1-3/sysui/desktop/apparmor/program.xpdfimport/)?

[2022-09-07 15:50] tml1024 commented on #5204
Yup, fix helps in an optimised build, too. https://gerrit.libreoffice.org/c/core/+/139602 (for co-22.05, will cherry-pick to master and co-2021, too).

[2022-09-08 05:16] Eugene7219 opened #5223 "copy - paste between different documents not work"
**Describe the bug**
copy - paste between different xlsx documents opened in two or more brouser tabs not work

**To Reproduce**
Steps to reproduce the behavior:
1. open in brouser first xlsx document
2. open  in brouser in other tab second xlsx document
3. create in the first document new sheet
4. return to second document and copy-paste all page (Ctrl+a, Ctrl+c)
5. go to the first document to ne

[2022-09-08 06:07] thebearon commented on #5220
When you write iOS app, you mean the Nextcloud app, right? Not the Collabora Office app for iOS.
In which case this would be related to https://github.com/nextcloud/richdocuments/issues/2398

[2022-09-08 06:17] HeluSZB commented on #5220
Hi, that’s right. It’s in the Nextcloud iOS App. Is there any other solution, than closing the app?

[2022-09-08 07:40] #5206 closed

[2022-09-08 08:50] Ezinnem commented on #5185
@elhananjair, please can you share a sample file?

[2022-09-08 14:12] reos-rcrozier commented on #5170
Further to this, I tried renaming the folder to `Management_Accounts_and_Proj` and I still can't open documents in the folder. However, I then created the folder `Management Accounts and Projections` alongside it, and copied the documents over. The  documents DO open successfully from the new folder.

I created the folder on my local machine and synced it to Nextcloud.

This is a bit bizarre, but

[2022-09-08 16:10] genofire commented on #5206
Scraping on the new Image works, now.
Thanks

[2022-09-08 21:50] DaijoubuKun opened #5230 "Unable to open documents when shared from one Nextcloud server to another"
**Describe the bug**
Both my brother and I have our own nextcloud servers that I manage, and they are running the same version. I am using the docker image of CODE for my document editing that I host on my server. When we try to load documents that are on one NC server or the other, they work just fine. However, my bother shared a folder from his NC server to mine and this is where things break. H

[2022-09-09 14:08] tildezero opened #5234 "CODE stops working after a few minutes"
**Describe the bug**
After starting the CODE docker image, and going to the admin panel, the server works and documents load in nextcloud, but after a minutes, it stops working again in nextcloud office until I go back to the admin panel

**To Reproduce**
Steps to reproduce the behavior:
1. Install CODE docker image
2. Go to admin panel
3. Set server, and open document in nextcloud
5. it works
6.

[2022-09-09 17:51] kakkarot0 commented on #4929
hey can i work on this issue??
we only need to change it to KeyCode.F1??

[2022-09-10 02:23] Kexkey commented on #4206
This is a major issue with some of my huge spreadsheets where I need to copy formula results (values, not formulas) to an e-mail or any other application.  I need to retype the values one by one instead of being able to copy and paste the whole selection.

[2022-09-10 10:56] genofire opened #5235 "Nullpointer in fetchWopiHostPatterns if remote dyn config is"
**Describe the bug**
There is an undocumented json structure on the remote dynamic configuration which rease an Null-Pointer error in logs.

This log message is thrown in function `fetchWopiHostPatterns`:
https://github.com/CollaboraOnline/online/blob/62ee44154353e9f087250597cc2c56c4fba795ee/wsd/COOLWSD.cpp#L1212

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Collabora like discri

[2022-09-10 11:05] genofire opened #5236 "Option to see current configuration"
**Is your feature request related to a problem? Please describe.**
There are many options to configurate Collabora:
- xml file
- argument `--o:`
- remote dynamic configration
- ... (enviroment on docker maybe)

So it would be nice, to see the current configuration which is used inside collabora. To see what option affected (or still need time to take, like the remote poll).

**Describe the solutio

[2022-09-11 19:32] matthijsbro commented on #5220
Same problem here. There is not even a button for closing the app properly. So a back button or ‘close file’ button is wanted. And/or it should open files in Collabora Office (but that app doesn’t look half as good).

[2022-09-11 21:45] flagellatedcucumber commented on #4761
Re-tested on 06Sep2022.  Same outcome.
Screenshots & video at https://drive.google.com/drive/folders/1H_48E_ycItI0dw1nY05wM7ramAJTMI_J?usp=sharing .

[2022-09-13 08:05] elhananjair commented on #5185
I tried this on Linux and used Firefox.

https://user-images.githubusercontent.com/69236638/189846015-748e9b36-f49f-4809-a784-59adb4ee9ecc.mp4

[2022-09-13 09:26] Ezinnem commented on #5185
I can see the issue on the Firefox browser.

@elhananjair, As a workaround, you can make use of the Chrome browser. It will allow for the selection of pages

[2022-09-13 13:57] stellarpower opened #5247 "Rootless Collabora Sporadically comes down - Jail Permissions and `nftw()` Issues"
**Describe the bug**
A clear and concise description of what the bug is.

### To Reproduce
- Pull the image, tag given in compose below.
- Add container behind a reverse proxy, and connect into nextcloud, as per compose below.
- All is well for some time
- Nextcloud's office interface is suddenly unable to connect to the Collabora server, and a whole load is spat out in the logs (provided below)

[2022-09-14 07:13] thebearon commented on #4942
I assume this can be closed, thanks for fixing, @eszkadev!

[2022-09-14 07:13] #4942 closed

[2022-09-14 08:48] Jerome-Herbinet commented on #5142
Hi @pedropintosilva , I've translated the "Row height" wording in WebLate (it's OK and thank you for the tip).
But I've note found "Please send us your feedback" (see above screenshot). Can you help me to find it ?
Thanks by advance.

[2022-09-14 09:07] and-kal opened #5251 "Using mail address as username environment variable doesn't work"
When starting a new container with
`docker run -t -d -p 127.0.0.1:9980:9980 -e "aliasgroup1=https://<domain1>:443,https://<your-dot-escaped-aliasname1>|<your-dot-escaped-aliasname2>:443" -e "aliasgroup2=https://<domain2>:443" -e "username=admin" -e "password=S3cRet" --restart always collabora/code`
as suggested [here](https://sdk.collaboraonline.com/docs/installation/CODE_Docker_image.html), using

[2022-09-14 11:22] elhananjair commented on #5185
I am currently testing it with Micorosft Edge and what exactly I am requesting as a feature is native print layout on collabora online.

https://user-images.githubusercontent.com/69236638/190125654-82dac182-a666-4f75-996a-697c9bd755c1.mp4

[2022-09-14 14:19] Unfaehig opened #5253 "seccomp filter issue"
**Describe the bug**
I tried to install collabora docker container on a Synology via portainer.io. If the container boots it throws for me following error:

`kit-00038-00036 2022-09-14 13:57:43.555304 +0000 [ kit_spare_001 ] ERR  Failed to install seccomp syscall filter| common/Seccomp.cpp:239`

Seems this is an known Libre Office Online bug see [here](https://bugs.documentfoundation.org/show_bug.

[2022-09-15 16:28] thane984 opened #5257 "Collabora freezes @ dropdown menu selection"
I built a series of charts using LibreOfficeCalc and am trying to work with it using Collabora (21.11.3) on my iPhone (SE 2020, iOS 15.7) but the app keeps freezing up on me when I open up one of the dropdown lists (a cell with data validation). It doesn't happen every time but about half of the time.  I dont have this problem at all using Collabora on my iPad or when using LibreOffice on either o

[2022-09-17 05:06] ixsword commented on #3128
兄弟，搞定了没，我nextcloud就差这个东东还没整好，字体都是方块，而且Collabora除了菜单和表名是中文，好像很多地方都是英文，最主要是单元格汉字没法显示~

[2022-09-17 11:48] KiaraGrouwstra opened #5263 "spelling suggestions don't fix on click"
**Describe the bug**
I make spelling errors, and expect for Collabora to help correct these.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a spelling mistake
2. See red squiggly underlining
3. Right-click it
4. Click on the correcting suggestion
5. Find no change

**Expected behavior**
The misspelled word is replaced with the selected correcting suggestion.

**Actual behavior**
The mi

[2022-09-19 03:11] jiandanfeng commented on #3128
首先保证你的文档的对应字体在collabora服务中是存在的，可以进入collabora docker容器中看下，其中有两个路径，并且新环境和旧环境不一样：
新环境是：/usr/share/fonts/以及/opt/cool/systemplate/usr/share/fonts
旧环境是：/usr/share/fonts/以及/opt/lool/systemplate/usr/share/fonts，其实就是cool和lool的区别。
其次在容器中执行下locale，看看是不是UTF-8。
最后，还是不行就换个文档试试。

2022-09-17 13:06:43"ixsword" ***@***.***>写道：

你好，不知道你能不能放一下如何增加中文字体的教程？我这边的中文字符都显示为：口口 Hello, would you mind please show me how to add

[2022-09-19 10:58] avatar1024 commented on #5192
I had the issue when upgrade to the Nextcloud office app 6.2.0 on both instances. I got a "document failed to load" message when trying to open a doc.

What solved was:

1. Install the Buildt-in CODE server app in nexctcloud.
2. Connect to this instead of my own Collabora server app
3. Open a document
4. Then go back to the settings and connect to my own server again.

Things been working fine eve

[2022-09-19 12:08] yogo1212 opened #5267 "CODE blocks requests from the host specified in the `domain` env variable"
**Describe the bug**

CODE blocks requests from the host specified in the `domain` env variable.
Real domain redacted. Nextcloud works normally under `cloud.the.domain` and CODE serves "OK" under `office.the.domain`.

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open any docx file stored in Nextcloud
2. See error

**Expected behavior**
An editor opens.

**Actual behavior**

[2022-09-19 19:42] microniko commented on #2041
I had the same problem with a Proxmox container.
It resolved with adding `,mknod=1` at the end of the `features:` line in the container config file (`/etc/pve/nodes/yyyyyyy/lxc/xxxxx.conf`).

[2022-09-20 11:50] yogo1212 commented on #5267
i managed to get a bit closer myself:

[code]

should that still be regex-escaped? how about the slashes?
looking for the code that generates that now.

[2022-09-20 12:12] yogo1212 commented on #5267
while digging through the code of `start-collabora-online`, i noticed two things:

1. SSL is terminated by nginx. the container only sees plain http (on 9980) - which is what i want with `extra_params=--o:ssl.enable=false --o:ssl.termination=true`.
  `domain` is used together with these settings to produce an entry with `https`.
  the wrong port (80 vs. 443) is added for consistency :grin:
2. the

[2022-09-20 12:15] #5267 closed

[2022-09-20 16:07] dagguh commented on #4732
Still happens. Very frustrating, because it drops your whole comment.

[2022-09-21 12:05] pedropintosilva commented on #5040
Hi @SamarthAsthan sure! What's your question? : )

[2022-09-21 12:05] #5084 closed

[2022-09-21 15:05] LorenAmelang commented on #4394
This also happens on iOS 15.6.1, iPhone SE2020.
![ABEC4B28-EC7F-40EA-8E68-7C0232F9E395](https://user-images.githubusercontent.com/1297090/191539946-a4d7c202-26f0-41d8-a360-b51679b3b4c5.png)
``

[2022-09-22 06:56] Rash419 commented on #2386
This has been fixed : master - https://github.com/CollaboraOnline/online/pull/5261, co-21-11 - https://github.com/CollaboraOnline/online/pull/5278

[2022-09-22 06:56] #2386 closed

[2022-09-23 10:06] timar commented on #5253
[TDF#113078](https://bugs.documentfoundation.org/show_bug.cgi?id=113078) was closed as WONTFIX. I think it's an acceptable resolution. If installation of seccomp syscall filter fails, and the program continues, the user will never know that it failed and may think that everything is in order. The feature can be disabled in config, but it is not the default, as it weakens security (in theory).

[2022-09-23 10:06] #5253 closed

[2022-09-23 13:37] PhilippeAccorsi opened #5296 "Impossible to build docker image (working on cp-22.05.6-1 but not after) - documentation not explicit with new process"
**Describe the bug**

When I tried to build image with new process `--secret id=secret_key,src=secret_key` I have this error
[code]

I tried to install/configure like visible in docker documentation but same error each time.

**To Reproduce**

I have this version of tool
- Docker version 20.10.18, build b40c2f6
- Docker Compose version v2.10.2

**Expected behavior**

Explain what is now necessary

[2022-09-23 13:44] PhilippeAccorsi commented on #5296
This is not a bug. We just need to change local configuration or add `DOCKER_BUILDKIT=1` before the `docker build --no-cache`.

I think it is a good idea to add `DOCKER_BUILDKIT=1` in each command line on https://github.com/CollaboraOnline/online/blob/master/docker/README

[2022-09-23 16:21] Oenbring opened #5298 "Clear boundary between header and body of text"
An issue that I've noted is that there isn't a clear boundary between the header and the body of the text. This could lead someone to write the whole text in the header instead of the body of the text, which can lead to all sorts of formatting issues.

![Screenshot 2022-09-23 120719](https://user-images.githubusercontent.com/105303267/192004942-5cf587c7-d2c3-430f-b2d2-896f86a41132.png)

Perhaps th

[2022-09-24 21:55] Unfaehig commented on #5253
That's ok, thought a warn log message after starting would be nice instead, like: "server started in insecure mode, due to missing seccomp" or something like that.
However if it is WONTFIX. It should give a better documentation on this. As Docker user i had to copy the coolwsd out of the container, to see the entry at all.
Would make more sense to have a sample file in the documentation, instead o

[2022-09-25 11:10] flagellatedcucumber commented on #4761
Re-tested on 25Sep2022.  New outcome!  Collabora sheets appears to work normally!
Screenshots & video at https://drive.google.com/drive/folders/1H_48E_ycItI0dw1nY05wM7ramAJTMI_J?usp=sharing.

Let's keep this ticket open for a while longer; a future update on Chrome could still bork this.

[2022-09-25 11:43] timar commented on #5155
`/usr/bin/coolmount` needs `cap_sys_admin` privilege, because this privilege is required for the mount syscall. If you remove this privilege and add `cap_chown,cap_fowner,cap_sys_chroot,cap_mknod` instead, then the check for mount will fail, and bind mounting will not be used. So, it fixes your problem, but not the way you expected.
The real fix was pushed, and COOL/CODE 22.05.6.3 will contain it.

[2022-09-25 11:43] #5155 closed

[2022-09-25 11:50] #5296 closed

[2022-09-25 12:26] timar commented on #5251
Yes, it's annoying. We had special character escaping issues in the past (#1235, #1264), therefore I fear to touch this area. A workaround can be: `-e "username=admin\\@example.com"`.

[2022-09-25 12:26] #5251 closed

[2022-09-25 14:44] iasdeoupxe commented on #5155
For references #5289 and #5291 seems to contain the fix.

[2022-09-25 14:46] iasdeoupxe commented on #5164
This was posted by @timar in https://github.com/CollaboraOnline/online/issues/5155#issuecomment-1257175825:

The real fix was pushed, and COOL/CODE 22.05.6.3 will contain it. In short: unexpectedly in some cases mount works but unmount doesn't, therefore the code has to check for success of both mount and unmount before enabling bind mounting.

#5289 and #5291 seems to contain the mentioned fix

[2022-09-26 13:38] cli-ish opened #5300 "Collabora docker-container behind a http/https proxy"
**Describe the bug**
We have a setup where the following docker compose setup is used:

[code]

We added the HTTP_PROXY/HTTPS_PROXY to allow the docker container to make the callback to our moodle system.
But it fails with the following logs:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to setup the docker-compose.yml file like ours
2. Get behind a proxy and only allow http/htt

[2022-09-26 19:29] gohrner opened #5301 "Calc: Formula bar gets cleared when focused in protected cells."
**Describe the bug**
If a Calc cell is protected, the formula bar get cleared if focused, instead of showing the cell's content as read-only text.

**To Reproduce**
1. Open the attached [test.ods](https://github.com/CollaboraOnline/online/files/9649115/test.ods) in CODE
2. Click on Cell E7
3. Click at the formular bar.

**Expected behavior**
Formula bar shows "Test" in readonly style.

**Actual be

[2022-09-26 19:33] gohrner opened #5302 "CODE 22.05.6.3 Calc: Deleting in formula bar using backspace does not work if other cells in same column share common prefix"
**Describe the bug**
You cannot delete text using backspace in the formula bar if another cell in the same column shares a common prefix with the text you try to delete.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the attached [commenttest.ods](https://github.com/CollaboraOnline/online/files/9649134/commenttest.ods)
2. Click on Cell C7
3. Click in the formula bar, placing the cursor

[2022-09-27 14:39] pedropintosilva commented on #5016
@brknkfr I have put together a step by step page, it is now together with all the other info in the SDK : https://sdk.collaboraonline.com/docs/language_tool.html

[2022-09-27 15:53] brknkfr commented on #5016
I have already checked the SDK documentation. My self-hosted languagetool server is working fine with the Firefox add-on and with the newest LibreOffice, the grammar checking is working fine with the self-hosted server, but somehow, coolwsd is not working (base_url entered correctly, with or without SSL validation). There is no connection from coolwsd to the languagetool server happening. How to d

[2022-09-27 18:51] DaijoubuKun commented on #5230
UPDATE: I have done some more testing, but still no solution. I was able to setup the built-in CODE server into my brother's server (I can't get it to run on mine, which is weird because they are basically the same software/OS wise). No luck. I then put both server to use the Collabora Online Demo server. No luck, and I've done all possible combinations of using my own (docker), built-in CODE, or

[2022-09-28 13:46] KuBGrub opened #5306 "Sheets not changeable V 6.2.0"
Hi there,
before Update to V 6.2.0 it was possible to switch between the sheets in excel files.
Now the Sheets Menubar is away.

![grafik](https://user-images.githubusercontent.com/114590879/192795774-5df41418-2fb7-4e3c-92a5-50df354dcc36.png)

[2022-09-28 21:21] dvdjaco opened #5307 "first and last values in "allowed_languages" are ignored"
**Describe the bug**
When running the official Docker image (22.05.6.3.1), the first and last languages in the `dictionaries` environment variable are ignored. The whole list is copied to `/etc/coolwsd/coolwsd.xml`, but the dictionaries corresponding to the first and last values are not loaded.

If we add a leading and a trailing space to the `dictionaries` list, all dictionaries are loaded.

**To

[2022-09-28 21:37] DaijoubuKun commented on #5230
UPDATE: I was finally able to get the 2 servers to show as them being trusted in the NC Settings -> Sharing. Now I'm getting an error in the admin log.

`Unable to determine collabora URL of remote server https://nextcloud.myserver.net - Remote is not a trusted server`

Where do I set it as a trusted server besides in the Nextcloud Settings under Sharing? Here is a raw log with some information re

[2022-09-29 09:48] avatar1024 opened #5308 "Documents (spreadsheet, text, etc.) with % in thier filename fail to load on NC using collabora"
Any document that contain the % sign in their filename fail to load

**To Reproduce**
1. Create two files: hello.ods hello2%.ods (or hello.odt hello2%.odt)
2. Click on the files to open

**Expected behavior**
All files should open fine

**Actual behavior**
hello.ods/hello.odt opens
hello2%.ods/hello2%.odt does not open -Error message: Document Loading Failed. Failed to load Nextcloud Office - plea

[2022-09-30 14:29] #5164 closed

[2022-10-01 05:22] callmetushar123 commented on #4929
@eszkadev Please assign it to me. I think this would be doable as I am a complete newbie

[2022-10-01 11:51] ZainIftikhar7vals commented on #4792
I want to contribute to this Easy Hack.
After building and running Writer in browser I added a Comment but  moving cursor above the comment when editing it doesn't change the Styling.
And Yes Hovering over the Save button the pointer stays an arrow. Should I fix Only this issue then?
![Screenshot from 2022-10-01 16-49-29](https://user-images.githubusercontent.com/88649907/193408179-849f12c0-12e7-4

[2022-10-02 13:09] timar commented on #5307
In the bad case your first and last items are literal `"en_US` and `ca_ES"`, instead of `en_US` and `ca_ES`. I'm not sure how I should fix this in the code, you should not pass `"` marks in the first place. We use `"` marks in the command line example, where the shell consumes them and the value of the environment variable is the list without quotes.

[2022-10-02 13:16] timar commented on #5307
It works with the env file, if you don't use quotes, so I guess it's a reasonable workaround.
`dictionaries=en_US fr_FR es_ES ca_ES`

[2022-10-02 13:16] #5307 closed

[2022-10-02 13:21] timar commented on #5306
Hi @KuBGrub this looks bad. However, we have not seen this issue before. What browser do you use? Also, could you please clarify the CODE version, v 6.2.0 does not sound familiar to me. Our recent release was 22.05.6.3.

[2022-10-02 18:56] NoahbJohnson15 commented on #4454
Hello! Is this issue still open or not fixed?

[2022-10-03 09:19] Rash419 commented on #5300
@cli-ish check this out , might be helpful https://forum.collaboraonline.com/t/collabora-docker-nextcloud-docker-nginx-proxy-manager/927

[2022-10-04 01:24] NoahbJohnson15 commented on #4454
Hi, which tests should I exactly use for this issue? Thank you!

[2022-10-04 06:11] cli-ish commented on #5300
Thanks @Rash419 ,

i found this thread but this was sadly not a solution to our problem because we cant move moodle to the docker network.

Our quick fix was to create an rule to avoid the http/https  proxy usage for collabora.
Will keep this open because the problem remains.

[2022-10-04 08:55] rishikeshrane18 commented on #2072
if this issue is still open, can I work on this?

[2022-10-04 09:12] Rash419 commented on #2072
@rishikeshrane18 sure you can work on it , I have assigned the task to you : )
Build intruction:
https://collaboraonline.github.io/

If you need any help ping me : )

[2022-10-04 10:45] KuBGrub commented on #5306
Hi timar,
i tried different browser (Firefox, Edge..). CODE Version is **now** Up-to-Date (Docker image). Seems like a Version Problem with Nextcloud Office 6.2.0 and older CODE Docker Image. Thx for your reply

[2022-10-04 14:53] callmetushar123 commented on #4837
Hello. Can you point out where this part of the code is present in the file?

[2022-10-04 15:01] Ayushbajpai19 commented on #4792
I would like to take this issue for hacktoberfest

[2022-10-04 15:02] Ayushbajpai19 commented on #2813
I would like to take this issue for hacktoberfest

[2022-10-04 15:02] Ayushbajpai19 commented on #2816
I would like to take this issue for hacktoberfest

[2022-10-04 15:48] reos-rcrozier commented on #5170
I'm now seeing the behaviour in another folder, very frustrating, does anyone want to engage with me here to investigate it? I'd be willing to screenshare or similar to investigate.

[2022-10-05 07:47] Rash419 commented on #2813
@Ayushbajpai19 sure : )

[2022-10-05 10:10] timar commented on #5236
It's a good idea, but unfortunately I did not find a way to serialize current application configuration to XML or anything else. There is no API for that, apparently. It needs a deeper thought.

[2022-10-05 13:59] callmetushar123 commented on #4695
Hello @mmaridev , If I am not wrong, once I see the packages that are no longer available, I will need to update the docker file to install them right?

[2022-10-05 14:09] mmaridev commented on #4695
Basically, yes. Please, do not just go ahead and remove all the missing ones: try to understand why they are no longer available in bullseye and what was their function within the project.

If you need further help, you can start by posting here the list of packages no longer to be found and we can discuss together.

[2022-10-05 14:19] Ayushbajpai19 commented on #2813
Just wanted to know this, like do you want me to right align no color text or just add a few spaces, or i have freedom to do according to me whatever suits it good?

[2022-10-05 14:46] Rash419 commented on #2813
For now , go for whatever that suits good
In review we can decide whether we should keep the extra changes or not

@pedropintosilva fyi

[2022-10-06 04:44] Burseblades opened #5316 "Android: Dialog Boxes Have No Scroll Bars"
**Describe the bug**
Collabora app installed from Google Play Store onto tablet with Android OS:
When accessing ANY dialog box from ANY menu bar the dialog box does not display full contents of box. NONE of the dialog boxes have scroll bars either so there is no way to access the full complement of settings on any of the dialog boxes rendering the application unuseable.

**To Reproduce**
Open any

[2022-10-06 06:21] PheaNotYou commented on #5220
We have the same problem…and it’s even more frustrating for our technologically-less-gifted employees.
So far, opening Collabora-charts and documents in the iOS app is a trap.
Desktop Nextcloud Collabora Online version is running smooth, but on the (different) iPads - all iOS 15.7 - there’s the missing “back-button” when viewing/modifying charts and documents.
There seems to be an invisible button

[2022-10-06 09:15] mmaridev commented on #4695
You'll need to ask someone that is maintainer of the project
/cc @thebearon @timar

[2022-10-06 09:26] pedropintosilva commented on #5142
Thanks @Jerome-Herbinet !

[2022-10-06 09:39] pedropintosilva commented on #5142
@Jerome-Herbinet I'm trying to find it as well :P we do have the string being properly set in https://github.com/CollaboraOnline/online/blob/master/browser/src/map/handler/Map.Feedback.js#L82 but maybe , somehow, it is not being discoverable by weblate

[2022-10-06 09:46] pedropintosilva commented on #5142
I have only found https://hosted.weblate.org/translate/collabora-online/ui/fr/?checksum=52a0b7a4e76ca536&q=+source%3Afeedback+&sort_by=-priority%2Cposition which is different message and it's already translated. I will keep you posted

[2022-10-06 09:53] pedropintosilva commented on #5316
Hi @Burseblades and thanks for taking the time to test and report this!
You mentioned any dialog. Could you please confirm that this also happens with native dialogs, example: Find and replace or Insert comment or Fontwork?

[2022-10-06 10:00] pedropintosilva commented on #5185
Hi @elhananjair  currently it's not possible to do this in an easy way. When the user hits the print we convert the document into PDF and send to the browser so it can handle it with its own native print capabilities. Some browser are better than other, we even thought in the past to disable the print feature for some browsers with less than ideal print handling feature but ended up let it present

[2022-10-06 10:43] timar commented on #5142
#5318 will fix the issue of "Please send us your feedback"

[2022-10-06 13:50] Ezinnem commented on #5302
Thanks for sharing the sample file.

I can reproduce in COOLWSD 22.05

[2022-10-06 15:34] #5306 closed

[2022-10-06 16:28] Ezinnem commented on #5257
@thane984 , Thank you for reporting.

Please can you send a sample file?

[2022-10-06 20:04] TobiasReich commented on #4732
Sorry to report that in Collabora _22.5.502_ this is still an issue.
Adding a comment with Umlauts or accents (ÄÖÜ...) does not save the comment.

[2022-10-07 03:44] thane984 commented on #5257
Yes, here you go, thanks.

On Thu, Oct 6, 2022 at 11:28 AM Ezinnem ***@***.***> wrote:

[2022-10-07 10:47] Ashod commented on #4454
@NoahbJohnson15,

Ideally, all the tests should be run and pass. But for this change, manually loading documents in the browser is also needed. That is because this changes the files being served to the browser.

Thanks!

[2022-10-07 11:29] callmetushar123 commented on #4695
@pedropintosilva  assign me here too. I would like to take up this issue too.

[2022-10-08 10:10] BaumiCoder opened #5322 "Android: keyboard for date fields"
**Is your feature request related to a problem? Please describe.**
I have an table in an spreadsheet with a date column. I want to type in dates in there and most of the time it is the date of today. I have make the fields in this column formated as date, but I can type in any stuff (also letters).

**Describe the solution you'd like**
I want to have an input method or keyboard for date fields in

[2022-10-08 13:37] callmetushar123 commented on #4695
@mmaridev

![dockerbuild](https://user-images.githubusercontent.com/31562363/194710121-93ed992e-7335-483d-8b7c-f960c493c4bd.jpg)

So I could successfully build Debian in my windows.
![debian1newpackages](https://user-images.githubusercontent.com/31562363/194710177-586d0fd0-9071-49e1-bac4-d181b300abbd.jpg)
These were the new packages that were installed
![debian1fail](https://user-images.githubuser

[2022-10-08 13:53] lpranam opened #5323 "Readonly feature lock no popup appears"
**This is an [Easy Hack](https://collaboraonline.github.io/post/easyhacks/).**
Potential mentors: @lpranam

### Detailed description and rationale
when feature locking is in read-only mode, the user should get the feature lock popup when he tries to enter the edit mode.

### Code pointers
browser/src/control/Control.Command.js
browser/src/control/Permission.js:48

### Links to related documentatio

[2022-10-08 14:09] mmaridev commented on #4695
Was only that one creating issues?

[2022-10-08 14:12] callmetushar123 commented on #4695
Yes, Only that one was causing the issue and you can see the last picture. The Debian image was built without any issues.

Was there supposed to be more?
Can I create a PR now?

[2022-10-08 21:29] tintou opened #5325 "Unable to export to PDF"
**Describe the bug**
Everytime that I try to export any document to PDF, the export fails, it works when I export to .doc or .rtf

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Files'
2. Click on 'Download as' -> 'PDF Document'

I get a popup with "Document cannot be exported. please contact administrator"

In the logs, I'm getting:
[code]

Note that cool runs on an ARM64 machine.

*

[2022-10-09 03:43] aaronschif commented on #4641
I think I had the same issue and solved it using `--o:ssl.enable=false --o:ssl.termination=true`.

[2022-10-09 10:12] ilicz commented on #4732
Running the bundled version of Collabora office 22.05.5.2 in Nextcloud 24.0.6 I found impossible to save any comments containing ANY of acctented Czech characters ěščřžýáíéďťňúů (does not matter if upppercase or lowercase).
Unfortunatelly this does not seem to be limited just to accented characters, I also tried to insert (directly from keyboard) EURO character € which did not saved as well.

I st

[2022-10-09 20:02] ilicz commented on #4732
I just tested with Online demo server configured instead of the built-in-package that the functionality seems to be working fine. Issue might be in the Nextcloud's build-in-package setup.

[2022-10-10 00:55] thebearon commented on #5316
@pedropintosilva No, this should only affect tunneled dialogs.

[2022-10-10 01:03] thebearon commented on #5220
Unless you were testing with the Nextcloud Office app 7.0.0 beta2, no release has been made containing the fix. Once there is, you will see whether the fix worked or not.

Closing this, as the issue was fixed in richdocuments.

[2022-10-10 01:03] #5220 closed

[2022-10-10 01:09] thebearon commented on #5230
I see you have also opened https://github.com/nextcloud/richdocuments/issues/2471 , which looks like a better place for this issue. Closing this one.

[2022-10-10 01:09] #5230 closed

[2022-10-10 01:30] thebearon commented on #5172
I pasted the selection of examples from the emoji WikiPedia article, and they appeared perfectly fine in the document. The font selected doesn't matter, since emoji unicode characters aren't covered by normal fonts. I think the common emoji font would be Noto Color Emoji, it's also included with Collabora Online, no idea why it doesn't seem to be picked up in your case..

![emoji](https://user-ima

[2022-10-10 08:47] Omkar0803 commented on #5040
Hey @Andreas-Kainz and @pedropintosilva  can you assign me this issue?

[2022-10-10 08:48] Omkar0803 commented on #5128
Het @pedropintosilva  can you assign this issue to me?

[2022-10-10 22:24] #5323 closed

[2022-10-11 07:02] elhananjair commented on #5185
@pedropintosilva currently for document files it's okay but when you can come to the spreadsheet it's really needed, e.g. you might need to print specific selections on a spreadsheet just like Microsoft Excell.

[2022-10-11 14:36] lukasmu opened #5332 "Cannot connect from multiple WOPI hosts"
**Describe the bug**
It seems that only one WOPI host can be used at a time.

**To Reproduce**
1. The _/etc/coolwsd/coolwsd.xml_ file contains the following:
[code]
2. You open a document from _host1.example.org_. This works.
3. Then you open a document from _host2.example.org_. This does not work.

**Expected behavior**
Opening documents from both hosts should work.

**Actual behavior**
Only docu

[2022-10-12 18:12] joergmschulz commented on #5332
see here https://help.nextcloud.com/t/important-changes-that-seem-to-affect-cool-docker-versions-from-v21-11-3-6-on-multiple-domains-setup/137867/2?u=wwe and follow the links

[2022-10-12 22:31] lukasmu commented on #5332
The issue apparently was that I did not specify scheme and port in the hosts section of the _/etc/coolwsd/coolwsd.xml_ file.
It should look like:
[code]
Then it works as it should

[2022-10-12 22:31] #5332 closed

[2022-10-13 02:37] scrummie02 opened #5336 "kubernetes deployment doesn't work"
**Describe the bug**
Follow tutorial here:
https://sdk.collaboraonline.com/docs/installation/Kubernetes.html
and here:
https://github.com/CollaboraOnline/online/tree/master/kubernetes/helm

**To Reproduce**
Install HAProxy ingress controller
`kubectl apply -f https://raw.githubusercontent.com/haproxytech/kubernetes-ingress/master/deploy/haproxy-ingress.yaml`
Prepare the namespace in the Kubernetes

[2022-10-13 09:04] pedropintosilva commented on #5298
Thanks @Oenbring !
In short, I agree :)

And to add to the screenshots, here is how it looks on LibreOffice (with text boundaries off), when the text caret is inside of the header a blue dashed line appears:

![image](https://user-images.githubusercontent.com/65948705/195553151-e4367335-7ff7-4e95-8b1f-1f0260b91b96.png)

[2022-10-13 11:55] Ezinnem commented on #5325
@tintou , Please can you share the COOL version that you are using?

[2022-10-13 11:58] vmiklos commented on #5325
Is this with a self-built core.git? The Collabora-produced COOL binaries build core.git using --with-distro=CPLinux-LOKit, which includes --without-system-nss. With system nss, it's a known problem that PDF export can't work because it will fail to compute the checksum of the document on export.

[2022-10-13 12:22] tintou commented on #5325
my cool version: `22.05.6.3 git hash: abd9205e`

[2022-10-13 12:27] tintou commented on #5325
I'm using the arm64 packages from https://www.collaboraoffice.com/repos/CollaboraOnline/CODE-arm64-ubuntu1804/

[2022-10-13 13:00] Ezinnem commented on #5263
This does seem to occur on my end.
COOLWSD version: 22.05.7.0 git hash:  [1cddb21b](https://github.com/CollaboraOnline/online/commits/1cddb21b)(E)

Clicking on the correction suggestion updates the spelling on the document as expected.

[2022-10-13 13:33] KiaraGrouwstra commented on #5263
i've updated.
i notice now that this issue also appears dependent on the suggestion selected.
specifically, under document language `Dutch (Netherlands)`, a word `officiele` will yield suggestions:

- `officieel`, which works
- `officiële`, which does not work

[2022-10-13 16:12] lpranam commented on #5336
did you add the appropriate entry in /etc/hosts file?
do collabora pods come online?

[2022-10-13 17:09] scrummie02 commented on #5336
yes and yes.  I ended up just using the node port and changing the service template and the values.yaml.

unfortunately when being used with NGINX reverse proxy SSL doesn't work.  NGINX is on an external node and is proxying back to nextcloud.  I get an error when using collabora because it says to use the same protocol but if i deploy with SSL is also fails.

[2022-10-13 19:51] Ezinnem commented on #5263
Actually selecting either of them works on my end

See recording:

https://user-images.githubusercontent.com/54344301/195695579-1f2dccfa-7876-4e85-98bf-fe81cce971f2.mp4

[2022-10-13 21:44] martyd1901 opened #5341 "docker container won't start"
I'm getting the below error when trying to start my docker container in unraid

`Failed to initialize COOLWSD: SAXParseException: Invalid token in '/etc/coolwsd/coolwsd.xml', line 247 column 166
-00001 2022-10-13 22:28:46.005179 +0100 [ coolwsd ] FTL  Failed to initialize COOLWSD: SAXParseException: Invalid token in '/etc/coolwsd/coolwsd.xml', line 247 column 166| wsd/COOLWSD.hpp:490
SAXParseExcep

[2022-10-14 09:12] eszkadev commented on #4929
done with: https://github.com/CollaboraOnline/online/pull/5319

Thanks @callmetushar123

[2022-10-14 09:12] #4929 closed

[2022-10-14 09:12] pedropintosilva opened #5342 "Percentage formatted cells: missing % upon pressing the escape key"
**Describe the bug**

This is a corner case yet to be solved and last reported on #5320.

Within a spreadsheet document pressing `Esc` key it results in something unexpected:
- Make sure the cell is formatted as **%**
- typing 1
- The percentage is added automatically
- But pressing `Esc` and then typing again 1 the percentage is not added anymore
- Furthermore by then pressing "Enter" key it give

[2022-10-14 09:17] GulsahKose commented on #5342
There is a conrol browser/src/layer/marker/TextInput.js  _onInput

            if (this._map.getDocType() === 'spreadsheet' &&
                content.length === 1 && ev.inputType === 'insertText' &&
                this._isDigit(newText)) {
                this._sendKeyEvent(newText, this._unoKeyMap[newText], 'input');
            }
When we press esc and start to write again content.length should

[2022-10-14 10:22] vmiklos commented on #5325
OK, then this will be something else, those binaries already use --with-distro=CPLinux-LOKit.

[2022-10-14 16:47] yasharghaemi commented on #5298
I have exactly the same problem. At first, I thought I had made a mistake with the deployment of Collabora. Then on checked the NextClould demo and noticed the same issue on their side as well. Then I noticed that there was no such problem with LibreOffice.

[2022-10-15 18:11] KiaraGrouwstra commented on #5263
interesting! i'm not sure how i can help reproduce this then. i'll close until i get new ideas on this.

[2022-10-17 08:08] Rash419 commented on #2072
any updates @rishikeshrane18  ? do you need any help ?

[2022-10-18 08:12] flagellatedcucumber commented on #4761
Re-tested on 17Oct2022.  New outcome!  Collabora sheets is borked again.

On this occasion, normal use of Collabora was possible while the ChromeOS device was downloading and pre-installing updates.  Immediately after a re-boot to complete the update, Collabora reverted to its borked state, with the same symptoms.

What options are available to Collabora to bypass the disablement that Google seems

[2022-10-18 08:36] rpear commented on #4761
I am not sure what can be done, I experience the same thing, after the ~monthly major ChromeOS update it stops working properly for a few days/weeks then it mysteriously gets better ...until the next ChromeOS update.  I wonder if ChromeOS detects it is failing and falls back to the previous way of implementing Android (not the VM) on a later reboot?

[2022-10-18 10:19] bernd-wechner opened #5353 "Ubuntu upgrade to 22.05.6-3 is broken"
**Describe the bug**
Specifically `14-collaboraofficebasis-ooofonts_22.05.6-3_amd64.deb` fails to unpack

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. On an Ubuntu 20.04 system running Collabora 22.05.6-1 with `deb https://www.collaboraoffice.com/repos/CollaboraOnline/CODE-ubuntu2004 ./` in `/etc/apt/sources.list`
    1. run `sudo apt upgrade`
    2. This installs 22.05.6-3 which f

[2022-10-18 10:23] bernd-wechner commented on #5353
Let me revise that. I rebooted the server, and it now works with 22.05.6-3:

[code]

I guess it survived the failed font upgrade. Still a bug in the fonts package

[2022-10-19 09:46] MagsMagnoli commented on #4346
@Andreas-Kainz Any updates on this?

[2022-10-19 09:46] juliusknorr opened #5357 "Safari: Pasting a link triggers "Insert section""
**Describe the bug**
When passing a link the insert section dialog is showing up instead of just adding the link to the document

**To Reproduce**
Steps to reproduce the behavior:
1. Paste a link like `https://sdk.collaboraonline.com/docs/How_to_integrate.html#authentication` into a document
2. See the "Insert section" dialog

**Expected behavior**
The raw link should be added

**Actual behavior**

[2022-10-19 10:23] RegisPerdreau commented on #5223
Confirmed

[2022-10-19 20:21] pmarini opened #5360 "Add logout button to admin console"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to logout from the admin console, browser/dist/admin/admin.html

**Describe the solution you'd like**
A logout button in the top-right corner

**Describe alternatives you've considered**
Close and reopen the browser

**Additional context**
Using coolwsd 22.05

[2022-10-20 10:26] juliushaertl opened #5361 "coolwsd fails to start on latest snapshot repository (Ubuntu 22.04)"
**Describe the bug**

coolwsd fails to start with a fatal error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install Collabora Online from the snapshot 22.05 repository on Ubuntu 22.04
2. Try to start the service

Versions in use for the packages:

[code]

[2022-10-20 10:28] juliushaertl commented on #5357
Additional clarification, this only seems to happen when copying the URL from the Safari address bar, not when copying them from a plain text file.

[2022-10-21 16:40] juliushaertl commented on #5361
Seems like this is fixed again on todays snapshot 🎉

[2022-10-21 16:40] #5361 closed

[2022-10-22 02:18] #3776 closed

[2022-10-22 17:01] NanoSector commented on #2800
Unfortunately this seems a limitation of how `mknod` works; creating a device node can only be done by privileged processes.

From man(2):

From [podman/rootless.md](https://github.com/containers/podman/blob/5af1c42119be28893a82d490159f8b398dee78db/rootless.md):

The only fix I would see is not using `mknod` at all. The only alternative I can think of currently is bind mounting them instead, howev

[2022-10-23 21:29] sergioatzori opened #5366 "Calc search not working in read mode"
**Describe the bug**
Calc search doesn't jump to line if edit is not enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a xls/csv document (read mode)
2. Use hamburger menu to trigger search on mobile
3. Try to search
4. Nothing happens (if the item is not in current view)
5. Activate edit mode
6. try to search: obtain result

**Expected behavior**
Search should scroll to item eve

[2022-10-25 07:09] rpear commented on #4285
@nikslor In case you have not seen, [CODE 22.05.7.2](https://www.collaboraoffice.com/code-22-05-release-notes/) now says it has translate and it uses Deep. I thought that this would be years away, amazing!
![image](https://user-images.githubusercontent.com/80790599/197706524-d6373f80-a7c8-4dcd-92b5-18c9ebf222f2.png)

[2022-10-25 07:12] genofire opened #5371 "Publish Helm Chart"
**Describe the solution you'd like**
Create a helm chart repository, for easy use of your helm chart.

https://helm.sh/docs/helm/helm_repo/

**Additional context**
Publish also on https://artifacthub.io/

[2022-10-25 12:16] #4695 closed

[2022-10-26 07:46] narcotix88 opened #5376 "Collabora Online unusable on Firefox Linux"
**Describe the bug**
Scrolling a document is very slow on Firefox Linux (106.0 (64 bits)).
Tiles takes forever to load and scrolling is not smooth at all, making it barely unusable.
Same document, same server is very fluid on chromium based browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a 30 pages writer document.
2. Scroll the document to last page.
3. See your Firefox browse

[2022-10-26 08:11] narcotix88 opened #5377 "LanguageTool only works for English."
**Describe the bug**
The LanguageTool grammar checker is a great feature, but it only works for English.

**To Reproduce**
Steps to reproduce the behavior:
1. Write a text with grammar mistakes with paragraph language configured in en_Us
2. See your mistakes underlined.
![image](https://user-images.githubusercontent.com/10205342/197968534-99496bf6-4d3b-47da-ba2e-13e273973172.png)
4. Change the lan

[2022-10-27 00:37] relikd opened #5383 "Calc: Freeze row/column header is ignored on load"
**Describe the bug**
I run Collabora from a Docker inside Nextcloud. I have certain spreadsheets that "forget" their row headers when I close and re-open a file. As far as I can see, this issue only happens if the spreadsheet has three or more tables.

**To Reproduce**
Steps to reproduce the behavior:
1. Create & open new Spreadsheet file
2. Create two additional tables
3. For all three tables set

[2022-10-27 17:58] vsandre commented on #4732
The Bug is still existing with Nextcloud 25 and CODE 22.05.7.2 It is very anoying.
Existing Comments saved offline and uploaded to the cloud are displayed correctly

[2022-10-28 11:15] Ashod commented on #5047
@R7JANV1 Documents that have embedded video now play in Collabora Online. Inserting new audio/video in a document is a day-2 item, currently not supported (of course it can be done from the desktop suite). The playback feature should be available in the next release, or when built from source code.

[2022-10-30 12:01] janilowski commented on #4592
This has not been fully fixed, some icons are still missing
<img width="214" alt="grafik" src="https://user-images.githubusercontent.com/76809077/198877307-88623c00-7636-4b84-9458-941768303c44.png">

[2022-10-30 12:32] Ornanovitch commented on #4592
I'm not sure this is the same bug...

![2022-10-30-133135_327x219_scrot](https://user-images.githubusercontent.com/34077099/198878604-4b2cde2e-ff0a-455b-a9a6-6759f22e4f41.png)

[2022-10-30 15:06] MagsMagnoli opened #5393 "Pageless mode"
**Is your feature request related to a problem? Please describe.**
Applications like Notion, and more recently Google Docs, have released a pageless mode
This is ideal for writing notes that are not intended to be printed

**Describe the solution you'd like**
Implement pageless mode

[2022-10-30 15:20] MagsMagnoli commented on #5376
Firefox on macos is also noticeably slower than brave (chrome)
Here is a side by side video

https://user-images.githubusercontent.com/4146037/198886640-88f687c2-2cc2-48f7-97c9-c6d99c181b7a.mov

[2022-10-30 18:53] MagsMagnoli opened #5394 "Selecting text causes uncontrollable scrolling"
**Describe the bug**
Trying to select text causes the page to scroll which makes it near impossible to select only the text you want. This doesn't happen all the time but once it does occur it doesn't reset until the page is refreshed

**To Reproduce**
Steps to reproduce the behavior:
1. Create document with several pages of text
2. Try to select a small subset of the text
3. Notice the page scrol

[2022-10-31 08:28] pedropintosilva opened #5395 "Tabbed view: bigtoolitem has decreased in size"
**Describe the bug**
The `bigtoolitem` went from `32px` to `24px`.

**To Reproduce**
Steps to reproduce the behavior:
1. View > tabbed view
2. Look at the icons that have label underneath
3. Observe their size (they are not bigger than the icons with inline labels)

**Expected behavior**
`bigtoolitem` should be bigger than the icons with inlined labels

**Actual behavior**
Has exactly the same siz

[2022-10-31 09:58] pedropintosilva commented on #5394
cc: @eszkadev

[2022-10-31 20:39] danieljkemp commented on #3917
`SYS_ADMIN` is a concerning capability to require. The other capabilities (`MKNOD`, `FOWNER`, `CHOWN`, `SYS_CHROOT`) fall under the `baseline` pod security [standard](https://kubernetes.io/docs/concepts/security/pod-security-standards/), but `SYS_ADMIN` would require running in a privileged namespace.

[2022-10-31 21:01] juliushaertl commented on #4592
I cannot reproduce this with the latest release, so maybe you can try to upgrade to the latest CODE build and report a separate issue if it still occurs.

[2022-11-01 03:18] tech-sesum opened #5400 "Accentuated letters entered with dead keys can't be typed in Calc 22.05.6.3"
**Describe the bug**
As I try to type an accentuated letter as a dead key combination (Accent + vowel) in an existing cell, partially filled, it is deleted right away.

**To Reproduce**
Steps to reproduce the behavior:
1. Observed in Collabora 22.05.6.3
2. Have a spreadsheet created in XLSX format in Microsoft Excel first
3. Enter some text values
4. Transfer the spreadsheet to where you can acces

[2022-11-01 09:01] karlemilnikka opened #5401 "“Ignore all” in Collabora Online on Nextcloud AIO"
**Describe the bug**
Nothing happens when clicking on “Ignore all” in Collabora Online on Nextcloud AIO. Each word has to be ignored every time it appears.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new document in Collabora Online on Nextcloud AIO.
2. Write something that is clearly misspelled.
3. Right-click on the misspelled word and select “Ignore all”.

**Expected behavior

[2022-11-01 10:48] Ezinnem commented on #5401
This issue does not seem reproducible on my end. I tested on:

COOLWSD version:
22.05.8.0 git hash:  [b43544da](https://github.com/CollaboraOnline/online/commits/b43544da)(E)

@karlemilnikka, please can you test again with an updated COOLWSD version?

[2022-11-01 10:55] Ezinnem commented on #5400
@tech-sesum please can you attach a sample file?

[2022-11-01 11:14] Ezinnem commented on #5383
The issue does not seem reproducible on my end.

I tested on:

COOLWSD version:
22.05.8.0 git hash: [b43544da](https://github.com/CollaboraOnline/online/commits/b43544da)(E)

@relikd, please can you share the COOLWSD version you encountered the issue with?

[2022-11-01 11:31] Ezinnem commented on #5376
This could be related to https://github.com/CollaboraOnline/online/issues/4475

@MagsMagnoli, please can you confirm that https://github.com/CollaboraOnline/online/issues/4475 is similar to this report

[2022-11-01 12:22] Ezinnem commented on #5366
![serch-in-readonly](https://user-images.githubusercontent.com/54344301/199231175-d1421d6b-2e36-4fd5-9ac7-1f328ca789cc.gif)

I do not encounter this issue on my end.

Please can you share the COOLWSD version that you are using @sergioatzori ?

[2022-11-01 12:28] sergioatzori commented on #5366
Yes of course:
coolwsd 22.05.7
but the example you show doesn't matter about my issue: the point is that the search item must not be in the current viewport (the viewport must scroll to highlight the element found at search trigger): this behavior happens when in read mode.

[2022-11-01 17:51] relikd commented on #5383
I initially tested it with:

LOOLWSD
6.4.10 (git hash: d12ab86)

but now, after a sucessful update, I can reproduce the same issue with.

COOLWSD
22.05.7.2 (git hash: b639546)

[2022-11-01 18:40] tech-sesum commented on #5400
Here it is (names are fictitious of course ;)).
[liste_des_CE_anon-sample.xlsx](https://github.com/CollaboraOnline/online/files/9913040/liste_des_CE_anon-sample.xlsx)

Plus there's this annoying flashing every time I move over the sheet:

https://user-images.githubusercontent.com/117135983/199312211-e224d927-664b-4c45-877a-0cfbbaa01969.mov

[2022-11-01 18:45] relikd opened #5407 "Filename overlaps menu in compact mode"
**Describe the bug**
The filename field (which is also used to rename the file) is displayed on top of the menu bar.
This does not happen for `user_interface.mode = tabbed` but only for `user_interface.mode = compact`.

The affected div has the following css:
[code]
which is just shown in the middle of the screen, regardless of other elements.

**To Reproduce**
Resize the browser window until the

[2022-11-01 18:48] relikd commented on #5383
I dont know if its relevant but this is with the currently latest docker image collabora/code:latest

[2022-11-01 20:21] relikd commented on #5407
Just tested a few versions. It must have broken somewhere between 21.11.5.3.1 and 22.05.6.3.1

[2022-11-02 07:07] nicorikken opened #5412 "Typing space not possible in comment when popup is active"
When I have opened a popup with right-click in the text:
![image](https://user-images.githubusercontent.com/7458098/199421239-df078048-2152-437c-adc2-59e28c229294.png)
And then I use the button whilst the popup is active
![image](https://user-images.githubusercontent.com/7458098/199421355-10552b19-298d-454e-9712-bfa6aec99d80.png)
to make a comment, I can no longer use spaces (document text removed

[2022-11-02 10:02] relikd commented on #5407
Ok, this happens in 21.11.5.3.1 too if the filename gets longer than "test.ods"

[2022-11-02 10:08] relikd commented on #5394
Had the same issue with Calc. Select Cell A1, hold shift and select Cell B10, and after the click the UI would start to scroll well past the B10000 cell and only stop if you click somewhere on any cell. So you end up with a selection of many thousand cells. ... This happened on v6.4.10 but I'll lookout if this happends in 21.x.x too.

[2022-11-02 10:34] relikd commented on #5300
I cannot comment on your proxy setup as it is probably part of the `root-start-libreoffice.sh` file.

But I think I found another issue, dont know if this helps:

You use the `domain` key with `collabora/code:latest`. Since version 21.11.3.6 the preferred way is:

[code]

and before that you would have needed to escape the dots in the domain:

[code]

Further, if you upgraded from 6.x to 22.x you

[2022-11-02 11:05] cli-ish commented on #5300
Thanks @relikd ,

The old syntax works if you dont use it like this:
[code]
but like this like i do:
[code]

The main problem is the callback from collabora to moodle which seems to not use the system http/https proxy.
Without the a http/https proxy and just out a reverse proxy + collabora it works.

So its quite clear that the problem is that collabora does not support the system proxy.

[2022-11-02 11:37] relikd commented on #5300
Wether you use `- domain=` or `domain:` is just preference. Both do the same thing. I prefer the latter because of syntax highlighting.
But I remember having problems with `useagehost.example.com` instead of `useagehost\\.example\\.com`. It is a long time ago when I setup my collabora instance so I cannot say why it didnt work. The [documentation](https://sdk.collaboraonline.com/docs/installation/

[2022-11-02 13:53] pedropintosilva commented on #5366
I tested, confirmed.

Searching for a text outside of the current view is not possible. This bug only happens in spreadsheet documents (when in readonly mode) --> search return no results (which is not true)

[2022-11-02 14:25] pedropintosilva commented on #5360
He @pmarini thanks for reporting this. I'm not sure there is a way to do this without clearing the browser cookies (since we use http auth) but then again I'm not versed in C++ or C for that matter.

[2022-11-02 14:26] pedropintosilva commented on #5360
So maybe you can help out here :)

[2022-11-02 14:26] pedropintosilva commented on #5360
I have added a draft PR that I did in between tasks, missing the clearing browser cookies

[2022-11-02 15:05] pedropintosilva opened #5418 "Improve connectors popup dropdown"
**Describe the bug**
Connectors dropdown
- Remove header (no need for a category header when there is no categories)
- Convert into 2 column dropdown (as it happens on core side)
![image](https://user-images.githubusercontent.com/65948705/199525494-4547d42f-b3c2-4335-88f4-bc1b2e9730c0.png)

[2022-11-02 18:29] Giusemx opened #5419 "Go back out from an Word or Excel after editing from iPad fails"
**Describe the bug**
When open a Word doc or Excel from an iPad (new model) only touch the nextcloud logo to go back, out from the collabora editor works. But if open the document, and edit it, after finish edit and safe, the nextcloud logo dont work anymore, so its not possible to leave the document. Only can close nextcloud completely and reopen it.
From Mac OS and iPhone OS, the problem is not

[2022-11-02 19:12] Andreas-Kainz opened #5420 "icon size use css var's"
I would suggest var's for icon sizes similar to how LibO did it

Icon size
- Toolbar
- Notebookbar (`standard` + `bigtoolitem`)
- Sidebar

And in addition I would like to add some var's for padding stuff around icon sizes. So we can switch between touch and mouse devices.

[2022-11-02 19:12] Andreas-Kainz commented on #5420
@pedropintosilva any suggestion?

[2022-11-03 03:40] thebearon commented on #5419
This should be fixed in the Nextcloud Office app, please see https://github.com/nextcloud/richdocuments/issues/2398

[2022-11-03 03:40] #5419 closed

[2022-11-03 09:02] #3403 closed

[2022-11-03 09:02] pedropintosilva commented on #3403
this has been fixed

[2022-11-03 09:34] EDRi-org opened #5422 "Comments flow out of screen / comment text does not break"
**Describe the bug**
When replying to a comment in a rich text document, both the reply field and the original comment text are too wide and flow out of the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a rich text document with Collabora Online (CODE) in Nextcloud
2. Add a long comment, like 180+ characters, don't forget spaces
3. Click on "Reply" to add a reply
4. See how th

[2022-11-03 11:40] juliushaertl commented on #5357
For reference, Safari seems to have a "text/uri-list" in the clipboard data which chrome doesn't so that might be what triggers the other dialog then

[2022-11-03 11:44] juliushaertl commented on #5357
Quick codepen for debugging the paste data https://codepen.io/juliushaertl/pen/BaVKMNg

[2022-11-03 18:40] karlemilnikka commented on #5401
I can confirm the same issue on 22.05.7.2 now (using Nextcloud AIO 2.1.1).

[2022-11-04 13:59] nikslor commented on #4285
Thanks for the heads-up @rpear; indeed cool :+1:

[2022-11-04 14:45] Jerome-Herbinet commented on #5142
I think both problems are fixed (closing issue).

[2022-11-05 11:37] KiaraGrouwstra commented on #5263
hm, I still seem able to reproduce this issue for spelling mistakes for documents (and words) in Dutch.

Versions tested with now:
- Nextcloud: 24.0.4
- Collabora Online - Built-in CODE Server:  22.5.702
- Nextcloud Office: 6.3.1
- Browser: Firefox 103.0.2 (64-bit) for Arch Linux

I'm not seeing any messages in the JavaScript console about this.

What versions did you use that made it work?

[2022-11-06 00:51] thebearon commented on #5422
21.11.0.6 is an old version, please update to the most recent 22.05 version, and test again.

[2022-11-06 00:51] thebearon commented on #5407
CC @pedropintosilva.

[2022-11-06 18:26] Penguin-Guru commented on #5204
This seems to affect the DAYS function as well. Someone told me the app is crashing on their Iphone when they try to open a spreadsheet after I added a function that uses DAYS. I can't test the build myself to confirm the issue but hopefully this is addressed too.

[2022-11-06 22:19] #5112 closed

[2022-11-07 01:59] philma9 commented on #4761
New Lenovo Chromebook Duet. I have this problem too. Just updated Chrome to V 105....92. Still borked. Uninstalled Collabora Office and re-installed (no version change). Still borked. FAF as it's my wife's and I recommended it...

[2022-11-07 14:46] pedropintosilva opened #5435 "Add icon for send feedback button"
We used to have repeated icons for two different action (both using ?) and I "fix" it by using the tips icon from core:
https://github.com/CollaboraOnline/online/pull/5434/commits/b3702f2a54375b11a6c03448d07756a17c7221e8

But probably better to have something more related to "send feedback"... maybe a dialog bubble behind of a user icon. What do you think?

Here is where the button is at (help tab

[2022-11-07 14:59] klauserber opened #5436 "Memory leak with big remote config"
**Describe the bug**
We are running collabora online inside of Kubernetes at a larger scale. Since we have activated the full count of allowed hosts and aliases we observe a constant increase of memory consumption. The configuration is loaded via remoteconfig poll once a minute and it is about 1 MB large containing about 5000 hosts each with one alias.

**To Reproduce**
Steps to reproduce the beha

[2022-11-07 18:14] JB1985 opened #5437 "Remote font configuration not work"
Hi,

i have try to configure the remote font. The font is displayed,

![image](https://user-images.githubusercontent.com/9932751/200384335-806e5959-e091-40f9-abd3-d3a267fc10b7.png)

but everything stays white when I type.

![image](https://user-images.githubusercontent.com/9932751/200384284-1cd8d546-3e63-4760-a029-72cf4c339caf.png)

My json:

[code]
Everything looks fine in the logs:

[code]

I am

[2022-11-07 21:38] rizmut commented on #5435
Pretty much like Office 365 do. :D

[2022-11-07 21:44] rizmut commented on #5435
How about using current envelope/mail icon from core (sc_sendfeedback.svg)? I just need to make a 24px version.

[2022-11-07 22:09] wchouser3 commented on #4206
this isn't just an issue with the spreadsheets. It's on the Nextcloud office writer too. Why is this still an issue. It basically makes the document server useless if we can't copy and paste from outside the application. I really have a hard time telling people they should use this instead of google docs if we can't even get the basics nailed down!

[2022-11-08 06:48] JB1985 opened #5439 "fonts_missing.handling, Collabora Online crashed when fonts missing"
**Describe the bug**
When I open a .docx Document with fonts missing, I get the error that a font is missing (correct, that is configured), but Collabora Online crash too.

I expected that I only get the popup that the font is missing, but not always crash collabora Online.

Version: 22.05.7.3 git hash: [0b42b3e3]

Log:

[code]

[2022-11-08 13:07] #5435 closed

[2022-11-09 08:08] sacav1 opened #5444 "Unable to export / print documents from an iFrame with Kubernete and several pods behind"
Hello
We have a problem when exporting / printing documents from an iFrame, error 400 impossible to convert the file.
We are with a Kubernete and 5 pods behind.
When we have only one pod it works well, but since the load has increased we have this problem.
Someone to help us?

`wsd-00001-00038 2022-11-07 16:45:51.636027 +0100 [ websrv_poll ] ERR  #76 Exception while processing incoming request: [G

[2022-11-09 10:16] Bables55 opened #5446 "Sheet selection tab of spreadsheet does not appear on smart phone"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a spreadsheet file with sheets on smart phone.
2. Nowhere is there an area to view sheets or select sheets.

**Expected behavior**
Sheet tabs appear to switch between sheets.

**Actual behavior**
The sheet is not displayed, so it is not possible to switch to another s

[2022-11-09 14:57] TijZwa opened #5450 "X-COOL-WOPI-IsModifiedByUser is always true with always_save_on_exit"
**Describe the bug**
If I enable the option 'always_save_on_exit', the X-COOL-WOPI-IsModifiedByUser is always true when uploading the document, even if the document is not modified.
When the option always_save_on_exit is off, the document is not uploaded (because it is not changed).

**To Reproduce**
Steps to reproduce the behavior:
1. Enable always_save_on_exit
2. Open a document, do not change a

[2022-11-10 01:33] AndrewG10i commented on #5450
We also experience the same issue. Confirmed with versions: CODE v22.05.6.1, CODE v22.05.7.2.
Collabora team, FYI: it is also reported as Ticket #1003292 via support.
Thanks!

[2022-11-10 09:56] thibChami commented on #5444
same problem here!!!

[2022-11-10 15:58] brknkfr commented on #5016
What more info is needed? Language checking is still not working with the latest version 22.05.8.2.

[2022-11-10 19:54] karlemilnikka commented on #5401
I can confirm the same issue on 22.05.7.3 (using Nextcloud AIO 2.1.2).

[2022-11-11 09:17] michelleDeko opened #5452 "User multiply without reason"
Describe the bug
After some time of editing a document in Nextcloud Office, users start to multiply.

Pictures:
Users:
![grafik](https://user-images.githubusercontent.com/83840564/201307182-66239ded-19f7-420d-8a52-7062f7464b53.png)

[2022-11-11 09:32] JB1985 commented on #5452
I think you are wrong here. Please reopen to Nextcloud Office -> https://github.com/nextcloud/richdocuments

[2022-11-11 17:14] h20220025 commented on #3216
Hi @mmeeks, I'm interested in contributing to this issue, please assign me this.
Thank you

[2022-11-11 17:51] JB1985 commented on #5437
Still in 22.05.8.2

[2022-11-11 17:58] JB1985 commented on #5439
It is still in 22.05.8.3

But Collabora Online only crash when you use a font that is loading via remote_fonts.

[2022-11-12 10:10] doc75 opened #5459 "How to prevent Collabora to open MS Office files ? (OnlyOffice already installed)"
I am currently having a Nextcloud server with OnlyOffice installed and it is working fine to manage MS Office documents (OnlyOffice integration has a setting to choose which type of document is handled by OnlyOffice)
I am in a process to add Collabora Online to manage LibreOffice documents. But I noticed that once Collabora is active it is used to open all office documents (LibreOffice or MS Offic

[2022-11-12 14:21] doc75 commented on #5459
I think that it is not a question for this repo.
Indeed I found out a hack to do what I want.
In case it can help anyone, here is the link: https://lab.libreho.st/libre.sh/docker/nextcloud/-/merge_requests/12/diffs#diff-content-dc5ea057fcb8783df59ef97caf2fa02971550316

[2022-11-12 14:21] #5459 closed

[2022-11-13 16:52] #5436 closed

[2022-11-13 20:29] olof-nord commented on #4464
With core now supporting `risc-v` [1], I understand that any prerequisite is now solved.

[1] https://gerrit.libreoffice.org/c/core/+/137445

[2022-11-14 04:27] hungleba opened #5465 "[Gitpod] Bug when setting up project for contribution"
**Describe the bug**
The Gitpod console failed to run `make -j$(nproc) run` during project setup

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the GitHub repository
2. Click on the Gitpod green button
3. Gitpod will run and open a VCN tab (port 6080) on a separate tab
4. The error is in the terminal where make failed to run

**Expected behavior**
`make -j$(nproc) run`  runs successfu

[2022-11-14 08:35] sharmadhiraj86 commented on #5418
Hii @pedropintosilva, I would like to contribute to solve this issue. Please assign this issue to me.

[2022-11-14 08:37] sharmadhiraj86 commented on #5395
Hii @pedropintosilva, I would like to solve this issue. Please assign me this issue.

[2022-11-14 14:06] ideook opened #5467 "I can't read Korean"
![image](https://user-images.githubusercontent.com/3469152/201680211-71ca5d31-2caa-4dd7-a9b1-ca63ceef9bf5.png)

[sample pptx]
https://cloud.brdg.kr/s/sMZ65HsQ8Z2egEL/download

Documents written in Korean look broken as in the image.

[2022-11-14 23:53] flagellatedcucumber commented on #4761
Re-tested on 31Oct2022.  New outcome!  Collabora worked!
Videos and screenshots at https://drive.google.com/drive/folders/11YaoQ8xvjL2wqYwmIPPDBEIAGzDq9tvf?usp=share_link

Re-tested on 14Nov2022.  ChromeOS had an update to do, so test prior to the update and after the update.  Guess what?  Before update, Collabora worked.  After update, Collabora borked.  Same issues.  Seems like Google perceives

[2022-11-15 07:22] SakshiT25 commented on #4474
If this issue is still open, can I work on this issue?

[2022-11-15 08:04] daxia2002 opened #5471 "The horizontal and vertical scroll bars are too thin, please fix them, thank you!"
**Describe the bug**
A clear and concise description of what the bug is.
![微信截图_20221115160355](https://user-images.githubusercontent.com/62735371/201863255-b71de97a-beda-48c9-9add-f8b3f70e1ebe.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to

[2022-11-15 08:36] SakshiT25 commented on #5471
@daxia2002  Hi, I want to work on this issue. Please assign me this.

[2022-11-15 08:37] Ezinnem commented on #5471
@pedropintosilva

[2022-11-15 08:37] Ezinnem commented on #5471
@pedropintosilva

[2022-11-15 08:38] SakshiT25 commented on #5446
@Bables55 Hi, I'm interested in working on this issue. please guide me on how to start with it.

[2022-11-15 08:45] pedropintosilva opened #5473 "Add Scrollbar onmouseover effect"
**This is an [Easy Hack](https://collaboraonline.github.io/post/easyhacks/).**
Potential mentors: @eszkadev

### Detailed description and rationale
Add onmouseover effect to scrollbar (vertical [and horizontal in the case of spreadsheets]):
* Increase scrollbar thickness more than what we have currently when onmouseover
* decrease scrollbar thickness when **not** onmouseover

### Code pointers
* b

[2022-11-15 08:46] pedropintosilva commented on #5471
Thanks @daxia2002 for reporting it and yes there is one last missing step on our recent scrollbar improvement changes. The problem is not really the active area because that is quite large, meaning that the user doesn't actually need to be precise to interact with the scrollbar as you can see in the [ following picture](https://user-images.githubusercontent.com/65948705/201871133-dd450b09-f2f2-421

[2022-11-15 08:47] pedropintosilva commented on #5473
I'm not able to assign this to you @SakshiT25 until you comment here, I think.

[2022-11-15 08:49] #5471 closed

[2022-11-15 08:50] SakshiT25 commented on #5473
Hi, @pedropintosilva I would like to work on this issue.

[2022-11-15 08:55] pedropintosilva commented on #5418
Awesome @sharmadhiraj86 !

[2022-11-15 09:35] Bables55 commented on #5446
When users access spreadsheet documents on their smartphones, they cannot switch sheets.
For example, with Firefox on Android, some devices even the "+" circular icon in the lower right corner is covered by the URL location bar and cannot even be touched. Is it a CSS issue?

[2022-11-15 09:51] Andreas-Kainz commented on #4474
you are welcome.

[2022-11-15 09:52] akshatakulkarni25 commented on #2072
Hello @Rash419 is this issue still open?? can i work on it??

[2022-11-15 10:01] Ezinnem commented on #5467
Thank you for reporting @ideook .

I tested with the sample file that you shared, I can view the Characters displayed well.
I tested on:

COOLWSD version:
22.05.8.2 git hash: [c3ac1ef0](https://github.com/CollaboraOnline/online/commits/c3ac1ef0)

![Screenshot from 2022-11-15 10-57-29](https://user-images.githubusercontent.com/54344301/201889856-68a6d136-3f74-4502-933d-f6e68012440a.png)

Please can

[2022-11-16 03:55] kingul commented on #2041
Problem fixed for me in 22.05.8.2.
Coolwsd arm64.

[2022-11-16 04:44] thebearon commented on #5446
I assume this is with Nextcloud integration, in which case there's a chance this is a richdocuments bug, and the problem is with the sizing of the iframe.

[2022-11-16 07:27] Bables55 commented on #5446
@thebearon , You were correct. I used another app called WOPI to connect to Collabora and the sheet showed up on smart phone.

[2022-11-17 06:41] pedropintosilva commented on #5465
Thanks @hungleba for reporting it, fixed with #5478 also Ubuntu build instructions were updated: https://collaboraonline.github.io/post/build-code/#dependencies-3

[2022-11-17 06:50] pedropintosilva commented on #5467
@ideook also worth to check if you have the respective language resources installed

https://sdk.collaboraonline.com/docs/installation/Installation_from_packages.html#localization

[2022-11-17 10:05] MercusChan opened #5480 "Impress - easy to lose the visual preview when dragging on text shape (when sidebar is showing)"
**Describe the bug**
I'm using Impress with sidebar (such as showing on text format)
When I'm dragging a text shape, there no visual preview.

In contrast, if the sidebar is hidden, the visual preview is always shown.

I've tried various setup
- in local docker, nextcloud and collabora
- in internet server, nextcloud and collabora
- in internet server, nextcloud and built-in collabora
- in interne

[2022-11-17 14:09] karlemilnikka commented on #5401
I can confirm the same issue on 22.05.8.2 (using Nextcloud AIO 3.0.0).

[2022-11-17 14:53] juliushaertl opened #5488 "UI_SaveAs is not emitted on mobile view"
**Describe the bug**
When loading the mobile UI of Collabora Online through an integration like Nextcloud (either in the app but also when switching to a mobile device dimension in browser dev tools) the clicking Save as does nothing and UI_SaveAs is not emitted as a post message.

This is independent to if the `SaveAsMode=group` parameter is passed

**To Reproduce**
Steps to reproduce the behavio

[2022-11-17 20:45] hungleba commented on #5465
@pedropintosilva thanks for looking into this. I still got an error in Gitpod when trying to run `make run`:

Looks like a function was called but received too many arguments

[2022-11-17 22:17] Andreas-Kainz opened #5490 "fontheight is hidden on mobile"
On mobile fontheight isn't available (by default)

![Screenshot_20221117_231104](https://user-images.githubusercontent.com/8517736/202571453-37c0a6b0-a97e-4862-abb0-bea4227f106c.png)

codepointer (fyi I made the change)
https://github.com/CollaboraOnline/online/blob/master/browser/css/mobilewizard.css#L34

If you go to Style, Font Name, ... and than back the fontheight is available see

![Screensh

[2022-11-17 22:19] Andreas-Kainz commented on #5490
I would like to remove
[code]
but as I did the mistake and now didn't know why, I prefer to have an issue, here an +1 and than do the fix. At least this .css rule should influence only mobile.

[2022-11-17 22:21] Andreas-Kainz commented on #5490
on staging with NC integration the fontheight is available on mobile, so there it look like it's fixed.

@pedropintosilva

[2022-11-18 04:20] thebearon commented on #5069
This should now be fixed by #5320 in 22.05.7.

[2022-11-18 04:20] #5069 closed

[2022-11-18 16:57] sedric commented on #5016
As brknkfr, I confirm it still not work, and the same as they do : what more info do you need ?

I gave you configuration from NGinx, Coolwsd (in which you can see that I followed the documentation you link, I tell you how I test, I made a schema of the infrastructure used to be sure there is no misscomprehension. There is **nothing** in the logs.

If you need more intels, please, provide us a way

[2022-11-20 19:39] leofah opened #5496 "22.05 Presentation does not show auto color text"
**Describe the bug**
With the given [presentation.odp](https://github.com/CollaboraOnline/online/files/10050496/Presentation1.odp) the full screen presentation does not show all text, however in the edit view the text is shown.The main cause is the background of a previous slide beeing black. On the next slides without any background all black text is not rendered in the presentation mode. I did t

[2022-11-21 08:15] 2022H1030042G commented on #5395
Hi @pedropintosilva, I would like to work on this issue. Can you assign it to me?

[2022-11-21 08:33] Andreas-Kainz commented on #5395
Nobody has to assign to an issue. Go for it and submit a PR.

[2022-11-21 08:34] pedropintosilva commented on #5395
@sharmadhiraj86 are you still interested in working on this? Otherwise I can assign to @2022H1030042G

[2022-11-21 08:35] pedropintosilva commented on #5473
Hi @SakshiT25 , how is this coming along?

[2022-11-21 10:18] SakshiT25 commented on #5473
Hi @pedropintosilva, I'm working on this issue. I was occupied with some other task. I will try to update you by Thursday.

[2022-11-21 10:35] 2022H1030042G commented on #5395
Can you share the details where do I have to make the changes (under which directory/file)?

[2022-11-21 10:37] pedropintosilva commented on #5395
@2022H1030042G the first step would be to have Collabora Online working locally on  your computer so you can work and test your changes : https://collaboraonline.github.io/post/build-code/ do you have it? Alternatively you can use GitPod are you familiar with that?

[2022-11-21 10:40] 2022H1030042G commented on #5395
@pedropintosilva, I'm using Gitpod for now.

[2022-11-21 10:42] pedropintosilva commented on #5395
ok, so the file is notebookbar.css and it seems  `.hasnotebookbar .ui-content .unobutton` rules are being overruled

[2022-11-21 10:50] 2022H1030042G commented on #5395
So, all I need to do is change the width and height to 24px?

[2022-11-21 14:30] #5488 closed

[2022-11-21 15:59] 2022H1030042G commented on #5395
@pedropintosilva, Can you please confirm?

[2022-11-22 04:09] kkofler commented on #4613
I do not believe it was actually fixed in 22.05.0.1, because the server is now running 22.05.8 and the bug is still there.

[2022-11-22 09:35] Ezinnem commented on #2041
@kingul, Great to hear that =)

 @OlegVekhov , please can you test again with the recent 22.05.8.2 version?

[2022-11-22 10:05] sharmadhiraj86 commented on #5418
@pedropintosilva Please share the file name where the changes need to be made.

[2022-11-23 14:50] pedropintosilva commented on #5490
Thanks @Andreas-Kainz I think we can just remove it. I just tested and it seems it always get overridden by another rule anyhow:

![image](https://user-images.githubusercontent.com/65948705/203576659-87d08e64-6669-4483-b576-63af94c95fd8.png)

[2022-11-23 21:28] Go-rom commented on #4855
Hi @gogle7

could you please confirm that this bug is fixed ?

I've got the same issue with CODE 22.05.8.2

[2022-11-24 17:23] 2022H1030042G commented on #5395
Do you the know the corresponding html file where this css is used?

[2022-11-25 09:14] timar opened #5519 "cool-api.html"
**Describe the bug**
What is cool-api.html and is it still relevant?

**To Reproduce**
See https://github.com/CollaboraOnline/online/blob/master/browser/cool-api.html

**Expected behavior**
Probably this document should be on sdk.collaboraonline.com with updated content.

[2022-11-26 17:34] genofire opened #5522 "Default Themen on configuration"
**Is your feature request related to a problem? Please describe.**
The different CollaboraOnline instances directly on theme

**Describe the solution you'd like**
set default `css_variables` in configfile (with option to force this value / ignore the passed variable of "customer")

**Additional context**
https://sdk.collaboraonline.com/docs/theming.html

(I thought over setup an canary-setup for A

[2022-11-27 07:06] thebearon commented on #5446
@Bables55 Please report this in https://github.com/nextcloud/richdocuments/issues .

[2022-11-27 07:06] #5446 closed

[2022-11-28 09:09] pedropintosilva commented on #4112
https://github.com/CollaboraOnline/online/issues/4127

[2022-11-28 10:29] pedropintosilva commented on #5473
awesome @SakshiT25 ! feel free to ping me or anyone else in the IRC/MAtrix/Telegram room or in the weekly community meeting https://collaboraonline.github.io/post/communicate/ :)

[2022-11-28 13:04] siccovansas opened #5528 "Blank rotation option in impress/presentation"
**Describe the bug**
 The slide layout panel shows a 'rotation' option when selecting an object, but it contains no options to adjust (see first screenshot). I can rotate an object directly in the slide via de round button at the top of the object, but it would be nice to also change the rotation by entering a value like is possible in LibreOffice Impress (see second screenshot).

**To Reproduce**

[2022-11-28 14:30] sebastiaanveld opened #5532 "IOS App 22.05.8 (2) crashes opening (larger) files"
**Describe the bug**
Running the beta IOS App 22.05.8 (2) which crash opening (larger) files (PDF, PPTX, etc). Just small files seem to work open fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Collabora Office' App, start the App
2. Select a file to open, for example a PPTX (or PDF)
3. Progress bar shows the files is "imported", at the end of the bar App just shuts down
4. App

[2022-11-28 15:28] sebastiaanveld commented on #5532
[FOSDEM_2022_Gtk4.odp](https://github.com/CollaboraOnline/online/files/10105115/FOSDEM_2022_Gtk4.odp)
Example document to duplicate the issue.

[2022-11-28 20:24] Moltey commented on #2041
Still not working for me in a unprivileged / rootless container running on podman.

[2022-11-29 11:33] sebastiaanveld commented on #4614
Still an issue in the 22.05.8 IOS App (TestFlight)

[2022-11-29 13:20] lucaspcamargo commented on #4878
This was using the test server available on Nextcloud store. Now I know that is not representative of a production environment. On a regular install of coolwsd, the problem does not occur. Closing this issue.

[2022-11-29 14:37] osscombat opened #5537 "Shared editing doesn't work in Nextcloud 25"
Hi!

I was playing around with rebuilding the code (as per https://collaboraonline.github.io/post/build-code/#build-code-on-debian), and noticed that Shared editing of the files is not working the way it is explained [here](https://www.collaboraoffice.com/wp-content/uploads/2016/06/collabora_online_v1_shared_editing.pdf).

The shared files open in the Editor mode for every user, so there's no View